{% load custom_tags %}
<script type="text/javascript" src="{{ STATIC_URL }}js/inputmask.js"></script>
{% if GOOGLE_API_KEY %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}"></script>
{% endif %}
<!--
    {{ dirForm.errors }}
-->
<div class="contenedor-direccion-{{ dirForm.prefix }}">
{{ dirForm.latitud.as_hidden }}
{{ dirForm.longitud.as_hidden }}
    <div class="row">
        <div class="col-md-12">
            {% if not ignorar_mensaje_geo and not GOOGLE_API_KEY %}
            <div class="alert alert-info alert-sm persist">
                Para habilitar la geolocalización es necesario especificar la <b>llave de acceso a los servicios de google</b> en configuración general. 
                <div><a href="/admin/configuracion/general/" target="_blank"><u>Click para ir la configuración</u></a></div>
            </div>
            {% endif %}
            <div id="mapContent" style="height:{{ map_content_height|default:'250px' }};display: none"></div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                 <label for="">Calle:</label>
                {{ dirForm.calle }}
                <div class="text-danger">{{ dirForm.calle.errors }}</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                 <label for="">Nº ext:</label>
                {{ dirForm.numero_e }}
                <div class="text-danger">{{ dirForm.numero_e.errors }}</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                 <label for="">Nº int:</label>
                {{ dirForm.numero_i }}
                <div class="text-danger">{{ dirForm.numero_i.errors }}</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                 <label for="">Referencia</label>
                {{ dirForm.referencia }}
                <div class="text-danger">{{ dirForm.referencia.errors }}</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                 <label for="">CP:</label>
                {{ dirForm.cp }}
                <div class="text-danger">{{ dirForm.cp.errors }}</div>
            </div>
            <div style="display:none;">
                <div class="clickeable" id="close_colonias" style="position: absolute;z-index: 6;margin-top: -41px;right: 24px;">
                    <i class="fa fa-times text-danger" title="Cerrar"></i>
                </div>
                <div id="colonias"></div>
            </div>
            <div id="listadoColnias"></div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                {{ dirForm.colonia.label_tag }}
                {{ dirForm.colonia }}
                {{ dirForm.colonia.errors }}
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                {{ dirForm.localidad.label_tag }}
                {{ dirForm.localidad }}
                {{ dirForm.localidad.errors }}
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                {{ dirForm.municipio.label_tag }}
                {{ dirForm.municipio }}
                {{ dirForm.municipio.errors }}
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                {{ dirForm.estado.label_tag }}
                {{ dirForm.estado }}
                {{ dirForm.estado.errors }}
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                {{ dirForm.pais_residencia.label_tag }}
                {{ dirForm.pais_residencia }} <span id="nombre_pais"></span>
                {{ dirForm.pais_residencia.errors }}
            </div>
        </div>

        {% if not ocultar_telefono %}
        <div class="col-md-6">
            <div class="form-group">
                {{ dirForm.telefono.label_tag }}
                {{ dirForm.telefono }}
                {{ dirForm.telefono.errors }}
            </div>
        </div>
        {% endif %} 

        {% if not ocultar_email and not agregar_empleado  %}
            <div class="col-md-6">
                <div class="form-group">
                    {{ dirForm.email.label_tag }}
                    {{ dirForm.email }}
                    {{ dirForm.email.errors }} <div id="estatuscorreo">&nbsp;</div>
                </div>
            </div>
        {% endif %}

    </div>
</div>

<script>

(function() {
var prefix = {% if dirForm.prefix %}"{{ dirForm.prefix }}-"{% else %} "" {% endif %}
var ubicaciones = [];
var $container = $(".contenedor-direccion-{{ dirForm.prefix }}")

$(function(){
    $("#id_"+prefix+"cp").change(cp);
    $("#id_"+prefix+"cp").on("focus",  cp);
    $("#close_colonias").on("click", function(){
        $container.find('#colonias').parent().hide();
    });

    {% if GOOGLE_API_KEY and dirForm.instance.latitud and dirForm.instance.longitud %}
    var geo = {
        lat: {{ dirForm.instance.latitud }}, 
        lng: {{ dirForm.instance.longitud }}
    };
    crearMapa(geo);
    {% endif %}
    
    {% if formato_telefono %}
        var phones = [{ "mask": "{{ formato_telefono }}" }, ];
        
        $("#id_"+prefix+"telefono").inputmask({ 
            mask: phones, 
            greedy: true, 
            definitions: { '#': { validator: "[0-9]", cardinality: 1}} 
        });
    {% endif %}

    {% if not ocultar_email and not agregar_empleado  %}
        $("#id_email").change(function(){

            validarEmail($("#id_email").val(), function(valido){
                if (valido){
                    var msg = "Correo válido.";
                    $("#estatuscorreo").html(msg).removeClass("text-danger").addClass("text-success");
                    $("#id_email").removeClass("bg-danger").addClass("bg-success");
                } else {
                    var msg = "Correo inválido, escriba un email real.";
                    $("#estatuscorreo").html(msg).removeClass("text-success").addClass("text-danger");
                    $("#id_email").removeClass("bg-success").addClass("bg-danger");
                }
            })
        });
    {% endif %}

    $('#id_'+prefix+'cp').attr('autocomplete', 'off');  
        var minLength_ac = minLength_ac || 1

        if ($().autocomplete) {
            $("#id_"+prefix+"pais_residencia").autocomplete({
                source:"/ajax/contains/pais_residencia/",
                minLength:minLength_ac,
                select:function(e,u){
                    $("#nombre_pais").html(u.item.label);
                },
            });
        }

        $.ajax({
            url:"/ajax/get_pais_residencia/?pais={{ dirForm.instance.pais_residencia }}",
            dataType:"json",
            success:function(data){

                if(data){
                  $("#nombre_pais").html(data.nombre);
                }
            },
        });

});

function cp(){
    var cp = $(this).val();
    
    if(cp == "" ){
        $container.find("#colonias").html("")
        return
    }
   
    $.getJSON('{% url "tools:get_colonias" %}?cp=' + cp, function (datos){
        var col = "";
        
        if(datos.length > 1){

            for(var i=0; i<datos.length; i++){
                col += '<div> <a href="#" data-colonia="' + i +'">' + datos[i].colonia + '</a> </div>';
            }
            $container.find("#colonias").html(col);
            //$container.find('#colonias').show({effect:"slide", direction:"up", });
            $container.find("#colonias").parent().show();
            $container.find("#colonias a").click(function(e) {
                ubicacion($(this).attr("data-colonia"))
            })
        }
        
        ubicaciones = datos;
            
        if(datos.length == 1){
            $container.find("#colonias").html("")
            ubicacion(0);
        }
        
        if(datos.length < 1){
            $container.find("#colonias").html("")
        }   
        
    });
     
}

function ubicacion(i){
    $("#id_"+prefix+"colonia").val(ubicaciones[i].colonia);
    $("#id_"+prefix+"localidad").val(ubicaciones[i].localidad);
    $("#id_"+prefix+"municipio").val(ubicaciones[i].municipio);
    $("#id_"+prefix+"estado").val(ubicaciones[i].estado);
    $("#id_"+prefix+"pais_residencia").val("MX");
    $container.find('#colonias').parent().hide();
    {% if GOOGLE_API_KEY %}
    actualizarMapa();
    {% endif %}
}

function get_cp(){

    var colonia = $("#id_"+prefix+"colonia").val();
    var municipio = $("#id_"+prefix+"municipio").val();
    var localidad = $("#id_"+prefix+"localidad").val();
    var estado = $("#id_"+prefix+"estado").val();

    $.getJSON('/ubicaciones/get_cp/?colonia='+colonia+'&municipio='+municipio+'&localidad='+localidad+'&estado='+estado , function (datos){
        $("#id_"+prefix+"cp").val(datos.cp);
    });
}


function obtenerDireccion() {

    var calle = $('#id_'+prefix+'calle').val();
    var numero_e = $('#id_'+prefix+'numero_e').val();
    var numero_i = $('#id_'+prefix+'numero_i').val();
    var cp = $('#id_'+prefix+'cp').val();
    var colonia = $('#id_'+prefix+'colonia').val();
    var localidad = $('#id_'+prefix+'localidad').val();
    var estado = $('#id_'+prefix+'estado').val();

    var out = [
        calle,
        numero_e,
        colonia,
        cp,
        localidad + ',',
        estado
    ];

    return out.join(' ')

}

function actualizarLatLng(evento) {
    $('#id_'+prefix+'latitud').val(evento.latLng.lat().toFixed(6));
    $('#id_'+prefix+'longitud').val(evento.latLng.lng().toFixed(6));
}

function actualizarMapa() {
    var direccion = obtenerDireccion();
    var geocoder = new google.maps.Geocoder();

    geocoder.geocode({ 'address': direccion}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            var geo = {
                lat: results[0].geometry.location.lat(), 
                lng: results[0].geometry.location.lng()
            };
            crearMapa(geo, direccion, true);
        }
    }); 
}

function crearMapa(geo, title, setVal) {
    var $mapContainer = $container.find('#mapContent');
    //if (!$mapContainer.is(':visible')) {
    $mapContainer.slideDown('fast', function(){
        var map_settings = $.extend(window.googleMapDefault, {
            zoom: 14,
            center: geo
        });
        
        var map = new google.maps.Map($mapContainer[0], map_settings);

        var marker = new google.maps.Marker({
            position: geo,
            map: map,
            title: title,
            icon: window.getMapMarker(),
            draggable: true
        });

        google.maps.event.addListener(marker, 'dragend', actualizarLatLng);

        if (setVal) {
            $('#id_'+prefix+'latitud').val(geo.lat.toFixed(6));
            $('#id_'+prefix+'longitud').val(geo.lng.toFixed(6));
        }
    })
}

})();

</script>