<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script
	  src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous"></script>
    
    {% block extra_head %}{% endblock %}
</head>
<body>
<div id="main">
    {% block contenido %}{% endblock %}
    <div id="footer"></div>
</div>
</body>
</html>
