{% extends 'atshell/layout.html' %}
{% load static thumbnail %}

{% block title %}{{ general.razon_social }}{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'atshell/codemirror/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'atshell/codemirror/theme/monokai.css' %}">
<script language="Javascript" type="text/javascript" src="{% static 'atshell/codemirror/lib/codemirror.js' %}"></script>
<script language="Javascript" type="text/javascript" src="{% static 'atshell/codemirror/mode/python/python.js' %}"></script>
<style>
    {% if error %}
        .error{
            background-color: #D51414;
            color:#f9f9f9;
            font-size: 19px;
        }
    {% endif %}
</style>

<style>
.respuesta_cliente{
    border:1px solid #E3E3E3;
    background-color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.CodeMirror{
    font-size: 1.05em;
    position: relative;
    height: auto;
}
.top-filters{
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 0;
}

#datos_clientes{
    max-height: 80vh;
    overflow-y: auto;
    padding-top: 5px;
}
.texto_respuesta {
    opacity: .8;
    font-size: .9em;
}
</style>
{% endblock %}



{% block contenido %}
    <div class="row">
        <div class="col-md-7">
            
            <form method="post" action="." name="myForm">
                {% csrf_token %}
                <div class="top-filters pt5">
                    <div class="inline-block ml10">
                        <a href="/">
                        {% if general.logo_empresa %}
                            {% thumbnail general.logo_empresa "x50" format="PNG" as im %}
                                <img id="logotipo" alt="Logotipo" src="{{ im.url }}" class="ml10" />
                            {% endthumbnail %} 
                        {% endif %}
                        </a>
                    </div>
                    
                    <div class="inline-block">
                        <a href="/">
                            {{ general.razon_social }}
                        </a>
                    </div>

                    <div class="inline-block ml10">
                        <label class="control control-checkbox">
                            <input type="checkbox" checked="checked" name="activar_try" id="id_activar_try"> 
                            Activar TRY CATCH
                            <span class="control_indicator"></span>
                        </label>
                    </div>

                    <div class="inline-block">
                        <a href="/atshell/configuracion/" id="configuracion" class="btn btn-light btn-sm">Configuración</a>
                    </div>
                </div>
                
                <textarea name="query" id="id_query" class="query-textarea">{{ query }}</textarea>
                <div></div>

                <div class="text-right mt10 mb10">
                    <input type="submit" value="Ejecutar" class="btn btn-primary">
                </div>
            </form>
        </div>
        <div class="col-md-5">
            <div style="max-height:85vh;overflow:auto"> 
                {% if error %}
                <div class="error">{{ error }} </div>
                {% endif %}

                <div class="text-info text-center" style="padding: 10px 0">{{ objects|length }} objetos</div>

                <table class="table table-condensed">
                {% for object in objects %}
                    <tr>
                        <td>{{ object }}</td>
                    </tr>
                {% endfor%}
                </table>
            </div>
        </div>
    </div>

<script>
var h = window.outerHeight;

window.editor = CodeMirror.fromTextArea(document.getElementById("id_query"), {
    mode: {name: "python", singleLineStringErrors: false},
    lineNumbers: true,
    indentUnit: 4,
    matchBrackets: true,
    theme: 'monokai'
});

window.editor.setSize(null, h - 300);
</script>
{% endblock %}
