{% extends 'atshell/base.html' %}
{% block contenido %}
  <form action="." method="POST">
    {% csrf_token %}
  	<div>Ejecutar antes del comando</div>
  	<div><textarea type="textarea" cols="40" rows="5" name="antes">{{ configuracion.antes }}</textarea></div>
  	<div style="heihgt:15px;">&nbsp;</div>
  	
    <div>Ejecutar después del comando</div>
  	<div><textarea type="textarea" cols="40" rows="5" name="despues">{{ configuracion.despues }}</textarea></div>
  	<div style="heihgt:15px;">&nbsp;</div>
  	<input type="submit" value="Guardar">
  	<a href="/atshell/command/">REGRESAR</a>
  </form>
{% endblock %}
