{% load static custom_tags thumbnail %}
<!DOCTYPE html>
<html lang="es" class="clean-layout">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ATshell{% endblock title %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="https://admintotal.com/site_media_central/favicon.png" type="image/png" />
    
    <link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet"> 
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="main-header">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'img/logo_azul_blanco.png' %}" alt="Admintotal" height="40px">
                        </a>
                    </div>
                </div>
            </div>

        </div>
        
        {% block contenido %}
        {% endblock contenido %}
    </div>

    {% block js %}
    {% endblock js %}
</body>
</html>