{% extends "app/base.html" %}
{% load static custom_tags thumbnail %}
{% block extra_head %}

<link rel="stylesheet" href="{% static "app/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" %}" />
<script src="{% static "app/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js" %}"></script>
{% endblock extra_head %}
{% block contenido %}
<div class="container-fluid">
    <form action="." method="POST" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="card my-2">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            {% if form.instance.logo %}
                            <div class="img-thumbnail d-inline-block" style="margin:10px 0">
                                {% thumbnail form.instance.logo "x65" format="PNG" as im %}
                                    <img src="{{ im.url }}"  class="img-fluid">
                                {% endthumbnail %}
                            </div>
                            <label for="" class="d-block">Cambiar Logotipo:</label>
                            {% else %}
                            <label for="" class="d-block">Logotipo:</label>
                            {% endif %}
                            {{ form.logo }}
                            {{ form.logo.errors }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group list-inline-item">
                            {{ form.project_name.label_tag }}
                            {{ form.project_name }}
                            {{ form.project_name.errors }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group list-inline-item">
                            {{ form.color_empresa.label_tag }}
                            {{ form.color_empresa }}
                            {{ form.color_empresa.errors }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group list-inline-item">
                            {{ form.theme_primary_color.label_tag }}
                            {{ form.theme_primary_color }}
                            {{ form.theme_primary_color.errors }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group list-inline-item">
                            {{ form.theme_secondary_color.label_tag }}
                            {{ form.theme_secondary_color }}
                            {{ form.theme_secondary_color.errors }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group list-inline-item">
                            {{ form.zona_horaria.label_tag }}
                            {{ form.zona_horaria }}
                            {{ form.zona_horaria.errors }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group list-inline-item">
                            {{ form.api_key.label_tag }}
                            {{ form.api_key }}
                            {{ form.api_key.errors }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group list-inline-item">
                            {{ form.fecha_inicio.label_tag }}
                            {{ form.fecha_inicio }}
                            {{ form.fecha_inicio.errors }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group list-inline-item">
                            {{ form.saldo_inicial.label_tag }}
                            {{ form.saldo_inicial }}
                            {{ form.saldo_inicial.errors }}
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" id="guardarSolicitud" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
            
    </form>
</div>

{% endblock contenido %}
{% block js %}
<script>
    $(function () {
        $("#id_color_empresa").colorpicker()
        $("#id_theme_primary_color").colorpicker()
        $("#id_theme_secondary_color").colorpicker()
    });
</script>
{% endblock js %}