@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

$header-height: 65px;
$sidebar-width: 230px;
$sidebar-collapsed-width: 60px;
$box-shadow-base: 0 2px 3px rgba(#000, .1);

.clickeable{
	cursor: pointer;
}
.word-break {
	display: inline-block;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}
.wyscontent{
	h1 {
		font-size: 1.7rem;
	}
	h2 {
		font-size: 1.4rem;
	}
	p {
		margin: 0;
		padding: 0;
		line-height: 1.1;
		font-size: 1em;
	}
}
.line-height-1 *,
.line-height-1{
	line-height: 1;
}

.flash-messages-box{
	position: fixed;
	top: calc(#{$header-height} + 10px);
	right: 10px;
	z-index: 9999;
	max-height: 90vh;
	overflow-y: auto;
	width: 380px;

	.alert{
		border-width: 3px;
		font-weight: bold;
		cursor: pointer;
		padding-left: 30px !important;

		i{
			position: absolute;
			left: 10px;
			top: 50%;
			margin-top: -10px;
			width: 20px;
			height: 20px;
			font-size: 1.4em;
			line-height: 1;
		}
	}
}

.container-alertify{
	position: fixed;
	z-index: 999999;
	top: calc(#{$header-height} + 20px;);
	right: 20px;
	max-height: 90vh;
	overflow: auto;
	width: 300px;

	.alertify{
		padding: 10px;
		margin: 5px;
		border-radius: 3px;
		line-height: 1.2;
		background-color: #fff;
		border: 1px solid rgba(#000, .2);

		@each $color, $value in $theme-colors {
		  &.alertify-#{$color} {
		    @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
		  }
		}

	}
}

.bg-light-gray{
	background-color: $gray-200;

}

.errorlist{
	list-style: none;
	font-size: .85em;
	color: $danger;
	padding: 0;
	margin: 0;
	line-height: 1.1;
}

.vm thead th,
.vm thead td,
.vm tbody th,
.vm tbody td{
	vertical-align: middle !important;
}

#colonias{
    background-color: #fff;
    position: absolute;
    min-width: 200px;
    max-height: 300px;
    overflow: auto;
    z-index: 99;
    box-shadow: $box-shadow-base;

    div:nth-child(2n+1){
        background-color: rgba($primary, .1)
    }

    a{
        color: $dark;
        padding: 8px;
        display: block;
        font-size: .9em;
        line-height: 1;

        &:hover{
            color: $primary;
        }
    }
}

.header{
	border-bottom: 1px solid #eee;
	background-color: #F96302;
	color: #fff;
	height: $header-height;
	position: relative;
	z-index: 1;

	.right-items {
		width: calc(100vw - #{$sidebar-width});

		.usuario-dropdown {
			> a {
				color: #fff;
				display: block;
				line-height: $header-height;
				padding: 0 15px;
				text-align: right;

				&:hover{
					background-color: rgba(255,255,255,.09);
					text-decoration: none;
				}
			}

			.sub {
				margin: 0;
				position: absolute;
				right: 10px;
				min-width: 120px;
				border-radius: 3px;
				overflow: hidden;

				a{
					font-size: .9em;
					color: #545454;
					padding: 7px 15px;
					border-bottom: 1px solid #eaeaea;
					display: block;
					cursor: pointer;
					&:hover{
						background-color: rgba(0,0,0,.02);
					}
				}
			}			


			> ul > li:last-child a{
				border-bottom: none;
			}

			> ul{
				background-color: #fff;
				border: 1px solid #eee;
				box-shadow: 0 2px 3px rgba(0,0,0,.07);
			}

		}
	}

	.logo{
		width: $sidebar-width;
		background-color: #F5F5F5;
		text-align: center;

		a{
		    height: $header-height;
		}
	}
	.app-breadcrums {
		padding-left: 20px;
	}
	.app-breadcrums a{
		line-height: $header-height;
		padding: 0 10px;
		font-size: 1.2em;
		color: #fff;
	}
	.app-breadcrums > div{
		position: relative;
	}
	.app-breadcrums > div:after{
		content: "";
		width: 3px;
		height: 3px;
		background-color: #fff;
		border-radius: 50%;
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
	}
	.app-breadcrums div:last-child a{
		opacity: .8;
		font-weight: 600;
	}
	.app-breadcrums div:last-child:after{
		display: none;
	}
}

.sidebar{
	width: $sidebar-width;
	box-shadow: 3px 0 5px rgba(0,0,0,.05);
	position: relative;

	.version{
		font-size: 11px;
		opacity: .3;
		text-align: center;
	}
	
	.menu-box{
		/*max-height: calc(100% - 40px);*/
		padding-bottom: 40px;
		overflow-y: auto;
	}
	.toggle-sidebar{
		display: block;
		position: fixed;
		width: $sidebar-width;
		bottom: 0;
		padding: 0 10px;
		text-align: center;
		line-height: 40px;
		background: $gray-200;
		color: $gray-600;
	}
	
	ul > li > a{
		padding: 6px 20px;
	}
	ul > li > .sub a{
		padding: 4px 10px;
	}
	ul > li a{
		font-size: .88em;
		display: block;
		color: rgba(0,0,0,.65);
		position: relative;
		cursor: pointer;
	}
	ul > li > a .icon{
		position: absolute;
		right: 40px;
		top: 0;
		line-height: 38px;
		color: #636363;
		display: none;
	}
	ul > li > a:after{
		color: #a0a0a0;
		position: absolute;
		right: 15px;
		top: 20px;
	}
	ul > li:hover > a{
		text-decoration: none;
		color: #0190FE;
	}
	.sub {
		padding-left: 30px;
		background-color: $gray-100;
	}
}

.right-content{
	width: calc(100vw - 250px);
	height: calc(98vh - #{$header-height});
	overflow-y: auto;
	padding: 10px;
}
.login-form-wrapper{
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
}

.sidebar-collapsed{
	.menu-box ul > li > a:after{
		top: 15px;
	}
	.right-items, .right-content {
		width: calc(100vw - #{$sidebar-collapsed-width});
	}
	.logo img{
		width: calc(#{$sidebar-collapsed-width} - 10px);
	}
	.logo, .sidebar{
		width: $sidebar-collapsed-width;
	}
	.toggle-sidebar{
		width: $sidebar-collapsed-width;
	}
	.menu-box,
	.sidebar{
		overflow: visible;
		.zona-horaria{
			display: none;
		}
	}
	.sidebar div > ul > li [aria-expanded="true"]{
		background-color: #f8f9fa;
	}
	.sidebar div > ul > li{
		border-bottom: 1px solid $gray-200;

		.icon{
			right: 30px;
		}
	}
	.sidebar div > ul > li > a > span {
		visibility: hidden;
		overflow: initial;
	}

	.sidebar li{
		position: relative;
	}
	.sidebar .sub{
		position: absolute;
		left: 61px;
		top: 0;
		line-height: 1.2;
		padding: 0px;
		width: 215px;
		box-shadow:  2px 4px 3px rgba(#000, .08);
		border-radius: 3px;
		z-index: 100;

		li a{
			border-bottom: 1px solid $gray-200;
		}
	}

	ul > li > a .icon{
		display: inline-block;
	}
}


.badge-regimen{
	font-size: 12px;
    vertical-align: middle;
    font-weight: normal;
    display: block;
}
.badge-regimen.badge-fisica{
	color: #149687;
}
.badge-regimen.badge-moral{
	color: #a5490f;
}

.card{
	.card-header{
		font-weight: bold;
		text-transform: uppercase;
	}
}

th{
	color: #fff;
}