.table{
	background-color: #fff;
	border-radius: 3px;
	overflow: hidden;
	border: none;
	outline: none;

	thead th{
		font-weight: 500;
	}
}
.form-group .errorlist{
	list-style: none;
	padding: 0;
	margin: 0;
	color: #d24857;
	padding: 2px;
	font-size: .9em;
}
.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.bg-white{
	background-color: #fff;
}
.full-content-height{
	height: calc(100vh - 65px);
	overflow-y: auto;
}
input[type="number"] {
	text-align: right;
}

.card{
	border: 1px solid rgba(0, 0, 0, 0.08);
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: #f5f7fa;
	color: #363d44;
}
a:hover{
	text-decoration: none;
}
legend{
	font-weight: 200;
}
h1, h2, h3, h4, h5{
	font-weight: 600;
}
.form-group label{
	font-weight: 600;
}
.form-check{
	&.form-check-inline{
		label {
			padding-right: 5px;
			font-weight: 600;
		}
	}
	label {
		margin-bottom: 0;
	}
}
.table-primary th{
	padding: 7px;
	font-weight: 500 !important;

}
.table-hover tbody tr{
	cursor: pointer;
}

.table-hover tbody tr:hover{
	background-color: rgba(0,0,0,.05);
}
.btn-gray{
	background-color: rgba(0,0,0,.1);
}