{% extends "app/emails/base.html" %}

{% block contenido %}
<h2>Hola {{ perfil.usuario.first_name }},</h2>
<p>Se ha creado correctamente su usuario <b>{{ perfil.usuario.username }}</b></p>
{% endblock contenido %}