{% extends "app/emails/base.html" %}

{% block contenido %}
<h3 class="text-primary">Solicitud de cambio de contraseña</h3>
<p>
	Se ha solicitado cambiar la contraseña para el usuario <b>{{ perfil.usuario.username }}</b>, si usted no ha realizado esta solicitud haga caso omiso de este correo.
</p>
<div class="text-center">
	<hr>
	<a href="{{ link_reset_password }}" class="btn btn-primary">Cambiar contraseña</a>
</div>
{% endblock contenido %}