{% load custom_tags %}
<tr {% if node.nodos %} class="parent" {% endif %}> 
	<td style="padding-left:{{ padding }}px">{{ node.nombre }}</td>
		{% for rol in roles %}
			{% if node.codigo %}
			<td class="permiso-toggle-td text-center">

				{% with rol|rol_tiene_permiso:node.codigo as tiene_permiso  %}
				    {% if tiene_permiso %}
				    	<button data-rol="{{ rol.id }}" data-permiso="{{ node.codigo }}" id="permisoNodo" title="{{ rol.nombre }}" class="toggle-permiso btn btn-success btn-sm"><i class="icon ion-md-checkmark-circle"></i></button>
				    	<input type="checkbox" checked>
				    {% else %}
				    	<button data-rol="{{ rol.id }}" data-permiso="{{ node.codigo }}" id="permisoNodos" title="{{ rol.nombre }}" class="toggle-permiso btn btn-gray btn-sm"><i class="icon ion-md-close-circle"></i></button>
				    	<input type="checkbox" >
				    {% endif %}
				{% endwith %}

			</td>
			{% else %}
			<td></td>
			{% endif %}
		{% endfor %}

{% if node.nodos %}
	</tr>
     {% for ch in node.nodos %}
      {% with padding=padding|add:padding node=ch template_name="usuarios/includes/permiso_nodo.html" %}
           {% include template_name %}
      {% endwith %}
     {% endfor %}
{% else %}
	</tr>
{% endif %}
