{% load thumbnail static custom_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Reporte</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<base href="{{ settings.URL_PROYECTO }}">
	<style>
		{% include "app/includes/stylesPDF.css" %}
	</style>

</head>
<body>
	{% if mostrar_cabecera_pdf %}
	<div class="pb-1 mb-1">
		<div class="d-inline-block align-item-top" style="width:15%">
			{% if configuracion.logo %}
            {% thumbnail configuracion.logo "x95" format="PNG" as im %}
                <img src="{{ im.url }}"  class="img-fluid">
            {% endthumbnail %}
            {% else %}
            <img src="https://placehold.it/120x65" class="img-fluid">
            {% endif %}
		</div>
		<div class="d-inline-block align-item-top text-right" style="width:84%">
			<div class="text-right">
				{% block title %}
					{% if title %}
					<h4 class="text-dark my-1 text-uppercase">{{ title }}</h4>
					{% endif %}
				{% endblock title %}
			</div>
		</div>
	</div>
	{% endif %}

	{% block contenido %}
	{% endblock contenido %}
</body>
</html>