{% if messages %}
    {% for message in messages %}
	<div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} my-1 p-2 flash-message">
		{% if message.tags == "success" %}
			<i class="icon ion-md-checkmark-circle-outline"></i>
		{% endif %}

		{% if message.tags == "error" %}
			<i class="icon ion-md-alert"></i>
		{% endif %}

		{% if message.tags == "info" %}
			<i class="icon ion-md-information-circle-outline"></i>
		{% endif %}
		<span>{{ message|safe }}</span>
	</div>
    {% endfor %}
{% endif %}