{% load custom_tags %}
.white-background{
  background-color: #fff !important;
  color:  {{ configuracion.color_empresa|rgb }} !important;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.table-primary thead th a{
  color: #fff;
}
{% if configuracion.color_empresa %}
.badge-primary a{
  color: #fff;
  
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active{
    background-color: {{ configuracion.color_empresa|rgb|lightness:".45" }} !important;
    border-color: {{ configuracion.color_empresa }} !important;
    box-shadow: 0 0 0 0.2rem {{ configuracion.color_empresa|rgb|lightness:".90" }} !important;
}
.btn-secondary{
    color: #fff;
    background-color: {{ configuracion.color_empresa }};
    border-color: {{ configuracion.color_empresa }};
}
.table-primary thead th{
  background-color: {{ configuracion.color_empresa|rgb }};
  color: #fff;
  border: none;
}
.table-primary tbody+tbody, 
.table-primary td, 
.table-primary th, 
.table-primary thead th {
  border-color: {{ configuracion.color_empresa|rgb|lightness:".90"}};
}
.badge-primary{
  background-color: {{ configuracion.color_empresa|rgb }};
  
}

.header,
.table-empresa thead th,
.bg-empresa{
  background-color: {{ configuracion.color_empresa|rgb }};
  color: #fff;
}
{% endif %}

.global-loading{
    position: fixed;
    width: 63px;
    height: 63px;
    text-align: center;
    display: none;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

{% if configuracion.theme_primary_color %}
.lds-ring div{
    border-color: {{ configuracion.theme_primary_color|rgb }} transparent transparent transparent;
}
legend,
.text-primary{
    color: {{ configuracion.theme_primary_color|rgb }} !important;
}
.bg-primary{
    background-color: {{ configuracion.theme_primary_color|rgb }} !important;
}
.page-item.active .page-link {
    background-color: {{ configuracion.theme_primary_color|rgb }} !important;
    border-color: {{ configuracion.theme_primary_color|rgb }} !important;
}

.form-control:focus{
    border-color: {{ configuracion.theme_primary_color|rgb|lightness:".50" }} !important;
    box-shadow: 0 0 0 0.2rem {{ configuracion.theme_primary_color|rgb|lightness:".90" }} !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
    background-color: {{ configuracion.theme_primary_color|rgb|lightness:".45" }} !important;
    border-color: {{ configuracion.theme_primary_color|rgb }} !important;
    box-shadow: 0 0 0 0.2rem {{ configuracion.theme_primary_color|rgb|lightness:".90" }} !important;
}
.btn-primary{
  color: #fff;
  background-color: {{ configuracion.theme_primary_color|rgb }};
  border-color: {{ configuracion.theme_primary_color|rgb }};
}
.box .title{
    border-bottom: 2px solid {{ configuracion.theme_primary_color|rgb }};
}
.btn-link,
a{
    color: {{ configuracion.theme_primary_color|rgb }};
}
.btn-link,
a:hover{
    color: {{ configuracion.theme_primary_color|rgb|lightness:".45" }};
}
.sidebar-wrapper a:hover{
    color: {{ configuracion.theme_primary_color|rgb|lightness:".45" }} !important;
}
.modal-header{
    background-color: {{ configuracion.theme_primary_color|rgb }};
    color: #fff;
}
.dropdown-item.active, .dropdown-item:active,
.list-group-item.active{
    background-color: {{ configuracion.theme_primary_color|rgb }};
}
.btn-outline-primary{
    color: {{ configuracion.theme_primary_color|rgb }};
    border-color: {{ configuracion.theme_primary_color|rgb }};
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active{
    color: #fff;
    background: {{ configuracion.theme_primary_color|rgb }};
    background-color: {{ configuracion.theme_primary_color|rgb }};
    border-color: {{ configuracion.theme_primary_color|rgb }};
}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover{
    border-color: {{ configuracion.theme_primary_color|rgb|lightness:".45"}};
    background-color: {{ configuracion.theme_primary_color|rgb|lightness:".45"}};
}
.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    overflow: hidden;
}

{% endif %}

/* ****************** */
/* secondary color */
/* ****************** */
{% if configuracion.theme_secondary_color %}
.text-secondary{
    color: {{ configuracion.theme_secondary_color }} !important;
}
.bg-secondary{
    background-color: {{ configuracion.theme_secondary_color }} !important;
}

{% endif %}
.email-body{
  background-color: #eee;
}
.contenido-email{
  width: 600px;
  border: 1px solid #ccc;
  margin: 10px auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  line-height: 1.3;
  font-weight: normal;
}
.contenido-email p{
  margin: 0;
  padding: 0;
  font-weight: 400 !important;
}
.espacio_firma {
  float: left; 
  margin-right: 10px; 
  margin-top: 4em; 
  margin-left: 1em;
  text-align: center;
  padding: 10px;
} 
.espacio_comentarios{
  float: center;
  color: grey;
  width: 150px;
}

.inputDerecha{ 
  text-align:right; 
}
.VerContrato{
  text-align: justify;
  margin: 40px;
  font-size: 14px ;
}
.ejemplo1{
  text-indent: 40px;
}
.titulosContrato{
  text-align: center;
  color: black;
  font-weight: bold;
}
.letras{
  color: black;
  font-weight: bold;
}
#tablaContrato th{
  font-size: 14px;
  width: 850px;
  border: 1px solid black; 
  border-collapse: collapse;
  text-align: center;
} 

#tablaContrato td {
  font-size: 14px;
  width: 850px;
  border: 1px solid black; 
  border-collapse: collapse;
  text-align: center;
}

#tablaContratoFirmas th{
  font-size: 15px;
  width: 850px;
  margin: 40px;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
}
#tablaContratoFirmas td{
  font-size: 15px;
  width: 850px;
  margin: 40px;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
}

#EspacioFirma{
  height: 170px;
  vertical-align: top;
}
#PaAmarillo{
  color: darkgoldenrod;
}
strong{
  text-transform: uppercase;
}
#Tablavale th{
  width: 40%;
  margin: 40px;
}
#Tablavale td{
  width: 40%;
  margin: 40px;
}

ul.list-inline > li{
	display: inline-block;
}
label{
	margin-bottom: 0;
    font-weight: bold;
}
.panel{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.panel .panel-body{
  flex: 1 1 auto;
  padding: 1.25rem;
}

.dropdown-menu{
  height: 300px;

}