{% load custom_tags %}
* { margin: 0; padding: 10px; }
body { font: 13px/1.3 Helvetica, serif;   }
.righttext { text-align:right; }
.right { float:right; }
.left { float:left; }
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
/* {% if configuracion.color_empresa %}
.header,
.table-empresa thead th,
.bg-empresa{
  background-color: {{ configuracion.color_empresa|rgb }};
  color: #fff;
}
{% endif %} */
{% if configuracion.color_empresa %}

thead{
  background-color: {{ configuracion.color_empresa }};
  color : #fff;
  border-radius: 50%;
}
{% endif %}

.global-loading{
    position: fixed;
    width: 63px;
    height: 63px;
    text-align: center;
    display: none;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

{% if configuracion.theme_primary_color %}
.lds-ring div{
    border-color: {{ configuracion.theme_primary_color|rgb }} transparent transparent transparent;
}
legend,
.text-primary{
    color: {{ configuracion.theme_primary_color|rgb }} !important;
}
.bg-primary{
    background-color: {{ configuracion.theme_primary_color|rgb }} !important;
}
.page-item.active .page-link {
    background-color: {{ configuracion.theme_primary_color|rgb }} !important;
    border-color: {{ configuracion.theme_primary_color|rgb }} !important;
}

.form-control:focus{
    border-color: {{ configuracion.theme_primary_color|rgb|lightness:".50" }} !important;
    box-shadow: 0 0 0 0.2rem {{ configuracion.theme_primary_color|rgb|lightness:".90" }} !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
    background-color: {{ configuracion.theme_primary_color|rgb|lightness:".45" }} !important;
    border-color: {{ configuracion.theme_primary_color|rgb }} !important;
    box-shadow: 0 0 0 0.2rem {{ configuracion.theme_primary_color|rgb|lightness:".90" }} !important;
}
.btn-primary{
  color: #fff;
  background-color: {{ configuracion.theme_primary_color|rgb }};
  border-color: {{ configuracion.theme_primary_color|rgb }};
}
.box .title{
    border-bottom: 2px solid {{ configuracion.theme_primary_color|rgb }};
}
.btn-link,
a{
    color: {{ configuracion.theme_primary_color|rgb }};
}
.btn-link,
a:hover{
    color: {{ configuracion.theme_primary_color|rgb|lightness:".45" }};
}
.sidebar-wrapper a:hover{
    color: {{ configuracion.theme_primary_color|rgb|lightness:".45" }} !important;
}
.modal-header{
    background-color: {{ configuracion.theme_primary_color|rgb }};
    color: #fff;
}
.dropdown-item.active, .dropdown-item:active,
.list-group-item.active{
    background-color: {{ configuracion.theme_primary_color|rgb }};
}
.btn-outline-primary{
    color: {{ configuracion.theme_primary_color|rgb }};
    border-color: {{ configuracion.theme_primary_color|rgb }};
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active{
    color: #fff;
    background: {{ configuracion.theme_primary_color|rgb }};
    background-color: {{ configuracion.theme_primary_color|rgb }};
    border-color: {{ configuracion.theme_primary_color|rgb }};
}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover{
    border-color: {{ configuracion.theme_primary_color|rgb|lightness:".45"}};
    background-color: {{ configuracion.theme_primary_color|rgb|lightness:".45"}};
}
.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    overflow: hidden;
}

{% endif %}

/* ****************** */
/* secondary color */
/* ****************** */
{% if configuracion.theme_secondary_color %}
.text-secondary{
    color: {{ configuracion.theme_secondary_color }} !important;
}
.bg-secondary{
    background-color: {{ configuracion.theme_secondary_color }} !important;
}

{% endif %}

.tituloPdf{
  text-align: right;
}

.contenidoPdf{
  width: 100%;
}

.intPdf{
  text-align: right;
}

.strPdf{
  text-align: left;
}
#Tablavale{
  width:20%;
  text-align: center;
}
