{% extends "app/base.html" %}
{% load custom_tags %}
{% block contenido %}
<form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}

    <div class="container-fluid" id="top">
        <div class="row">
            <div class="col-md-8">
                <div class="card my-2">
                    <div class="card-body">
                        {{ form.errors }}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <label for="">Folio:</label>
                                            <input  size="4" id="input_folio" type="text"  class="form-control">
                                            <small id="folio_vacio" style="color: red; display: none;" >Este campo no puede ser vacio</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Cliente:</label>
                                        {{ movimiento.cliente }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Vale:</label>
                                    #{{ movimiento.folio }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Fecha:</label>
                                        {{ movimiento.fecha|date:"d/m/Y" }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Descuento:</label>
                                        {{ movimiento.descuento|default:"" }}%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Cascos(Base 1):</label>
                                            {{ movimiento.get_valor_cascos }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Importe:</label>
                                            {{ movimiento.get_valor_monto|cur:"$" }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Saldo(base 1):</label>
                                            <label id="vale_restante" style="font-weight: normal;">{{ movimiento.cantidad_restante|cur }}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Saldo Importe:</label>
                                            {{ movimiento.get_valor_monto_restante|cur:"$" }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card my-2">
                    <div class="card-body">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="font-weight: bold;">Saldo(base 1):</td>
                                    <td class="text-right">{{ movimiento.cantidad_restante|cur }}</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Aplicado:</td>
                                    <td  class="text-right"><label id="aplicado"style="font-weight: normal;"></label></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">N. Saldo base 1:&nbsp;</td>
                                    <td class="text-right" ><label  id="nuevo_saldo" style="font-weight: normal;"></label></td>
                                    <td><i class="icon ion-md-alert" style="display: none;" id="icon-warning"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <a onclick="borrar_aplicado()" class="btn btn-secondary" style="color: white;">Borrar aplicado</a>
                        </div>
                        <div class="col-md-6">
                            <a onclick="aplicar_saldo()" class="btn btn-secondary" style="color: white;">Aplicar limite de saldo</a>
                        </div>
                    </div>       
                </div>
            </div>
            <div class="col-md-12">
                <div class="card my-2">
                    <div class="card-body">
                        <table class="table table-striped table-sm table-primary">
                            <thead>
                                <th>Casco</th>
                                <th class="text-right">Cantidad</th>
                                <th class="text-right">Cantidad base 1</th>
                                <th class="text-right">Costo compra</th>
                                <th class="text-right">Precio venta(sin iva)</th>
                                <th class="text-right">Precio venta(con iva)</th>
                            </thead>
                            <tbody>
                                {% for x in movimiento.detalles.all %}
                                <tr>
                                    <td>{{ x.casco.codigo }}</td>
                                    <td class="text-right">{{ x.cantidad_origen_local }}</td>
                                    <td class="text-right">{{ x.get_cantidad_base1 }}</td>
                                    <td class="text-right">{{ x.get_monto|cur:"$" }}</td>
                                    <td class="text-right">{{ x.get_precio_venta|cur:"$" }}</td>
                                    <td class="text-right">{{ x.get_precio_venta_iva|cur:"$" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card my-2">
                    <div class="card-body">
                        <table class="table table-striped table-sm table-primary">
                            <thead>
                                <th>Folio</th>
                                <th>Fecha</th>
                                {% for c in cascos %}
                                <th class="text-right">{{ c.codigo }}</th>
                                {% endfor %}
                                <th class="text-right">Importe</th>
                                <th class="text-right">Total</th>
                                <th class="text-right">Base 1</th>
                                <th></th>
                            </thead>
                            <tbody>
                                {% for f in list.object_list %}
                                {% if f.cantidad_restante > 0 %}
                                <tr>
                                    <td>{{ f.folio }}</td>
                                     <td>{{ f.creado|date:"d/m/Y" }}</td>
                                    {% for s in f.sums_cascos %}
                                    <td class="text-right">{{ s }}</td>
                                    {% endfor %}
                                    <td class="text-right">{{ f.get_valor_monto_restante|cur:"$" }}</td>
                                    <td class="text-right">{{ f.get_valor_total_restante|cur:"$" }}</td>
                                    <td class="text-right" id="total_{{f.id}}">{{ f.cantidad_restante|cur }}</td>

                                    <td><input name="pagos"  id="pago_{{ f.id }}" type="text" class="form-control" onchange="validar_pago('{{f.id}}')" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46" value="{{ f.cantidad_restante|cur }}"></td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include "tools/paginado.html" %}
                        <label onclick="post_ajax()" class="btn btn-primary float-right">Continuar</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
{% endblock contenido %}
{% block _js %}
<script>
    var saldo
    var aplicado = 0.00
    $().ready(function(){
        saldo = parseFloat($("#vale_restante").text()).toFixed(2)
        $("#input_folio").val("{{folio}}")
        value_nSaldoBas2()
    });
    function validar_pago(id){
        total_pago=0.00
        total=parseFloat($("#total_"+id).text())
        pago = parseFloat($("#pago_"+id).val())
        restantes = parseFloat($("#vale_restante").text())
        if(pago>total){
            $("#pago_"+id).val(total)
        }
        if(pago>restantes){
            $("#pago_"+id).val(restantes)
        }
        if(restantes<pago){
            $('input[name="pagos"]').each(function() {
            if($(this).val() === "") {
                val=0
            }else{
                val= parseFloat($(this).val())
            }
            total_pago+=val
            
        });
        if(total_pago>=restantes){
                console.log(total_pago)
                if (total_pago>restantes){
                    $("#pago_"+id).val(0) 
                }else{
                    $("#pago_"+id).val(restantes) 
                }
                
            }
        }
        value_nSaldoBas2()
        
        
    }

    function value_nSaldoBas2(){
        aplicado=0.00
        $( "input[id*='pago_']" ).each(function(){
            if($(this).val()!=""){
                aplicado +=parseFloat($(this).val())
            }
        });
        $("#aplicado").text(aplicado.toFixed(2))
        nSaldo = (saldo-aplicado).toFixed(2)
        $("#nuevo_saldo").text(nSaldo)
        $('#nuevo_saldo').css('color', 'black');
        $("#icon-warning").hide()
        if(nSaldo==0.00){
            
            $("#nuevo_saldo").text("0.00")
        }
        else if(nSaldo>0.00){
            $("#icon-warning").show()
        }
        else{
            $('#nuevo_saldo').css('color', 'red');
            
        }
    }

    function borrar_aplicado(){
        $( "input[id*='pago_']" ).each(function(){
            $(this).val("")
        });
        value_nSaldoBas2()
        
    }

    function aplicar_saldo(){
        aplicado =0.00
        tmpSaldo =saldo
        $( "input[id*='pago_']" ).each(function(){
            if(tmpSaldo!=0){
                id=$(this).attr('id').replace("pago_","") 
                cascos = parseFloat($("#total_"+id).text())
                if(tmpSaldo>=cascos){
                    $(this).val(parseFloat($("#total_"+id).text()).toFixed(2))
                    tmpSaldo -=cascos
                }
                else if(tmpSaldo!=0){
                    tmpSaldo = tmpSaldo
                    $(this).val(parseFloat(tmpSaldo).toFixed(2))
                    tmpSaldo=0
                }

                
            }else{
                value_nSaldoBas2()
                return false
            }
            
            
        });
        value_nSaldoBas2()
    }

    function post_ajax(){
        if($('#nuevo_saldo').text()!="0.00"){
            alertify.error('Saldo aplicado no puede ser menor o mayor saldo actual');
            return
        }   
        if ($("#input_folio").val()==""){
            
            $('#folio_vacio').show()
            document.getElementById('top').scrollIntoView();
            return
        }else{
            var facturas = []
            $("input[id*='pago_']").each(function() {
                if($(this).val()) {
                    
                    val= parseFloat($(this).val()).toFixed(2)
                    facturas.push({"id":this.id.replace(/\D/g, ""), "valor":val})
                }
            });
            $.ajax({
                type: "POST",
                url: "{% url "app:ajax_crear_nota_credito" %}",
                dataType: "json",
                data: {
                    "facturas":JSON.stringify(facturas), "vale":"{{ movimiento.id }}", "folio": $("#input_folio").val(),
                },
                success: function( data ) {
                    window.location.href='{% url "app:notas_credito" %}'
                }
                })
            }
        
    }
</script>
{% endblock _js %}
