{% extends "app/base.html" %}
{% block contenido %}

<form id="form" action="" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card my-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.proveedor.label_tag }}
                                    {{ form.proveedor }}
                                    {{ form.proveedor.errors }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form.fecha.label_tag }}
                                    {{ form.fecha }}
                                    {{ form.fecha.errors }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form.folio.label_tag }}
                                    {{ form.folio }}
                                    {{ form.folio.errors }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.almacen.label_tag }}
                                    {{ form.almacen }}
                                    {{ form.almacen.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card my-2">
            <div class="card-body">
                <h5>Garantias:</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="color: black;">Folio</th>
                            {% for c in cascos %}
                                <th style="color: black;">{{ c.codigo }}</th>
                            {% endfor %}
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="formset">
                        {{ formset.management_form }}
                        {% for fs in formset %}
                        <tr>
                            <td>{{ fs.id }}{{ fs.folio }}{{ fs.errors }}</td>
                            {% for c in cascos %}
                                <td><input id="form-{{ forloop.parentloop.counter0 }}-{{c.codigo}}" class=" form-control" type="text" disabled></td>
                            {% endfor %}
                            <td>{{ fs.DELETE }}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
                <input type="submit" class="btn btn-primary float-right" value="Continuar"></input>
            </div>
        </div>
    </div>



{% endblock contenido %}
{% block js %}
<script>
    num_formset=1
    $().ready(function(){
        $("#formset tr").formset({
            prefix:"{{ formset.prefix }}",
            added:add_form,
        });
        $("#id_folio").val("{{ folio }}")
        get_folios()
        forms_required()
        
        $("#id_proveedor").change(function(){
            get_folios()
            $('*[id*=form]:visible').each(function() {
            $(this).val("");
            
        });
        });
    });
    function get_folios(){
        for(let i = 0; i <= num_formset; i++){
                $('#id_form-'+i+"-folio").autocomplete({
                    source: function(request, response) {
                    $.ajax({
                        url: "{% url "app:ajax_get_folios_by_proveedor" %}",
                        dataType: "json",
                        data: {
                            term : request.term,
                            proveedor :  $("#id_proveedor").val(),
                            tipo: {{ tipo }},
                        },
                        success: function( data ) {
                            response(data);
                        },
                        
                    });
                },
                select: function(e, ui) {
                    for(const [key, value] of Object.entries(ui.item.cascos)){
                        $("#form-"+i+"-"+key).val(value)
                    }
                },
                change: function( e, ui ) {
                    if(!ui.item){
                        $(this).val("")
                        $('*[id*=form-'+i+']:visible').each(function() {
                            $(this).val("");
                        })
                    }    
                }
            })
        }
    }

    function add_form(){
        num_formset+=1
        get_folios()
        forms_required()
    }

    function forms_required(){
        $('*[id*=form]:visible').each(function(){
            $(this).prop('required',true);
            
        })
    }

</script>

{% endblock js %}
