{% extends "app/clean_base.html" %}
{% load thumbnail static custom_tags %}

{% block _extra_head %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

{% if request.user.perfil.tema_tamano_fuente %}
<style>
.btn, 
.form-control,
body{
    font-size: {{ request.user.perfil.tema_tamano_fuente }}px
}
.thead { background-color: {{ configuracion.color_empresa }}; }
</style>
{% endif %}

{% block extra_head %}
{% endblock extra_head %}
{% endblock _extra_head %}

{% block _contenido %}
<div class="application-wrapper {% if request.user.perfil.sidebar_colapsado %} sidebar-collapsed{% endif %}">
    <div class="header d-flex">
        <div class="logo">
            <a href="{% url 'app:index' %}" class="d-flex align-items-center justify-content-center px-2">
                {% if configuracion.logo %}
                {% thumbnail configuracion.logo "x65" format="PNG" as im %}
                <img src="{{ im.url }}"  class="img-fluid">
                {% endthumbnail %}
                {% else %}
                <img src="https://placehold.it/120x60" class="img-fluid">
                {% endif %}
            </a>
        </div>
        <div class="right-items">
            <div class="d-flex justify-content-between align-items-center">
                <div class="app-breadcrums">
                </div>
                <div  class="app-periodo" id="btn-periodo">{% block top_right_content %} {% endblock %}</div>
                <div>
                    <div class="usuario-dropdown relative">
                        <a href="#usuarioSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="icon ion-md-person"></i> {{ request.user }}</a>
                        <ul class="collapse list-unstyled sub" id="usuarioSubmenu">
                            <li>
                                <a href="{% url 'usuarios:perfil' %}"><i class="icon ion-md-contact"> Mi Perfil</i></a>
                            </li>
                            <li>
                                <a href="{% url 'usuarios:logout' %}"><i class="icon ion-md-log-out"> Salir</i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="d-flex">
        <div class="sidebar full-content-height bg-white">
            <div class="menu-box">
                <ul class="list-unstyled menu-list m-0">
                    {% for elem in MENU %}
                    <li data-parent="{{ elem.id }}">
                        <a href="#{{ elem.id }}Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" title="{{ elem.nombre }}">
                            <i class="{{ elem.icono }}"></i> <span>{{ elem.nombre }}</span>
                        </a>
                        {% if elem.children %}
                        <ul class="collapse list-unstyled sub" id="{{ elem.id }}Submenu">
                            
                            {% for child in elem.children %}

                                <li>
                                    {% if child.url %}
                                        <a data-child="{{ child.id }}" href="{{ child.url }}">{{ child.nombre }}</a>
                                    {% else %}
                                        <a data-child="{{ child.id }}" href="{% url child.id %}">{{ child.nombre }}</a>
                                    {% endif %}
                                </li>
                                
                            {% endfor %}

                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div title="Fecha: {{ VERSION_TIMESTAMP  }}" class="version">Versión: <b>{{ VERSION|default:'N/A' }}</b></div>
            <div class="version zona-horaria" title="Zona Horaria">{{ request.session.django_timezone }}</div>
            <a href="#" class="toggle-sidebar">
                <i class="icon ion-md-arrow-back"></i>
            </a>
        </div>

        <div class="right-content">
            <div class="flash-messages-box">
            {% include "app/includes/flash_messages.html" %}
            </div>
            {% block contenido %}
            {% endblock contenido %}
        </div>
    </div>
</div>
{% endblock _contenido %}


{% block _js %}
<script src="{% static "app/js/jquery.formset.js" %}?v=1.1.6"></script>
<script type="text/javascript" src="{% static "app/js/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "app/js/moment.es.js" %}"></script>
<script type="text/javascript" src="{% static "app/js/tempusdominus-bootstrap-4.min.js" %}"></script>
<script type="text/javascript" src=""></script>

<script>

    function submit_order(order){
        $("#id_order").val(order);
        $("form").submit();
    }


    // jQuery plugin to prevent double submission of forms
    jQuery.fn.preventDoubleSubmission = function() {
      $(this).on('submit',function(e){
        var $form = $(this);
        if ($form.data('submitted') === true) {
          // Previously submitted - don't submit again
          return false

        } else {
          // Mark it so that the next submit can be ignored
          $form.data('submitted', true);
          if (!$form.data("hideLoading")) {
            showLoading()
          } else {
            $form.data("hideLoading", false)
          }
        }
      });

      // Keep chainability
      return this;
    };

    $.fn.formset.defaults.addText = '<i class="icon ion-md-add"></i> Agregar';
    $.fn.formset.defaults.addCssClass = 'btn btn-sm btn-light';
    $.fn.formset.defaults.deleteText = '<i class="icon ion-md-remove"></i>';
    $.fn.formset.defaults.deleteCssClass = 'btn btn-sm btn-danger';
</script>
{% block js %}
{% endblock js %}
<script>
$.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
    icons: {
        time: 'icon ion-md-alarm',
        date: 'icon ion-md-calendar',
        up: 'icon ion-md-arrow-round-up',
        down: 'icon ion-md-arrow-round-down',
        previous: 'icon ion-md-arrow-round-back',
        next: 'icon ion-md-arrow-round-forward',
        today: 'far fa-calendar-check-o',
        clear: 'icon ion-md-trash',
        close: 'icon ion-md-close'
    }
});

$(function() {
    $('form').preventDoubleSubmission()

    var setIconToggleSidebar = function() {
        var colapsado = $('.application-wrapper').hasClass('sidebar-collapsed')
        var iconClass = 'icon ion-md-arrow-back'
        if (colapsado) {
            iconClass = 'icon ion-md-arrow-forward'
        }
        $('.toggle-sidebar').find('i').attr('class', iconClass)
    }

    var hideSubmenus = function() {
        $('.sidebar-collapsed .sidebar [aria-expanded="true"]').attr('aria-expanded', 'false')
        $('.sidebar-collapsed .sidebar .show').removeClass('show')
    }

    var esconderOpcionesMenu = function(){
        $(".sidebar .sub").each(function(){
            if($(this).html().trim() == ""){
                $(this).closest("li").remove();
            }
        })
    }

    var generarBreadcrumb = function(child) {
        var $link = $('.sidebar a[data-child="'+child+'"]')
        var breadcrumbs = []
        var generarHtml = function (b) {
            var $html = $('<div class="d-inline-block"><a href="'+ b.url +'">'+ b.nombre +'</a></div>')
            
            if (b.onClick) {
                $html.find('a').click(function(e) {
                    b.onClick(e)
                })
            }

            return $html
        }

        breadcrumbs.push(generarHtml({url: '/', nombre: 'Inicio'}))

        if ($link.length) {
            $link.addClass('text-primary font-weight-bold')
            // var $parent = $link.closest('[data-parent]').find('[data-toggle="collapse"]')
            var $parent = $link.closest('[data-parent]').find('> a ')
            
            if (!$('.sidebar-collapsed').length) {
                $parent.click()
            }
            
            if ($parent.length) {
                breadcrumbs.push(generarHtml({
                    url: $parent.attr('href'), 
                    nombre: $parent.text().trim(),
                    onClick: function(e) {
                        e.preventDefault()
                        $parent.click()
                    }
                }))
            }

            breadcrumbs.push(generarHtml({
                url: $link.attr('href'), 
                nombre: $link.text().trim()
            }))
        }

        {% if title %}
        breadcrumbs.push(generarHtml({url: '#', nombre: '{{ title }}'}))
        {% endif %}
        $('.app-breadcrums').prepend(breadcrumbs)
    }

    $('.toggle-sidebar').click(function(e) {
        e.preventDefault();
        var colapsado = !$('.application-wrapper').hasClass('sidebar-collapsed')
        $('.application-wrapper').toggleClass('sidebar-collapsed')
        $.ajax({
            url: '{% url "usuarios:set_sidebar" %}',
            type: 'POST',
            data: {colapsado: Number(colapsado)}
        }).done(function(res) {})
        setIconToggleSidebar()
        //setTooltipsSidebar()
        hideSubmenus()
    })

    $('.sidebar-collapsed .sidebar .dropdown-toggle').click(function(e) {
        e.preventDefault()
        var otherLink = $(e.target).attr('aria-expanded') 
        if (otherLink === undefined) {
            otherLink = $(e.target).closest('[aria-expanded]').attr('aria-expanded')
        }

        $(this).tooltip('hide')

        otherLink = (otherLink == "false")

        if (otherLink) {
            hideSubmenus()
        }
    })

    $('.flash-message').click(function() {
        $(this).fadeOut()
    })

    var calendarOpts = {
        format: 'DD/MM/YYYY',
        locale: 'es',
        debug: true
    }

    $(".selectpicker").selectpicker();

    $(".datepicker").each(function(){
        $(this).attr('data-toggle', 'datetimepicker')
        $(this).attr('data-target', '#' + $(this).attr('id'))
        if( $(this).data('format') ) {
            calendarOpts['format'] = $(this).data('format');
            return $(this).datetimepicker(calendarOpts);
        }
        if ($(this).hasClass('validar_fecha_anterior')) {
            calendarOpts['minDate'] = moment()
        }
        if ($(this).hasClass('validar_fecha_posterior')) {
            calendarOpts['maxDate'] = moment()
        }
        $(this).datetimepicker(calendarOpts);
    })

    $('.filtro_exportar .dropdown-item').click(function(){
        var tipo = $(this).data("tipo")
        window.location.href = ".?" + $(this).closest("form").serialize() + "&" + tipo + "=1"
    });

    $("[data-confirm-message]").click(function(e) {
        var $target = $(this)

        if (!$target.data("confirmed")) {
            e.preventDefault()
            var mensaje = $target.attr("data-confirm-message")
            if (!mensaje || mensaje === "") {
                mensaje = "¿Esta seguro que desea continuar?"
            }

            alertify.confirm(mensaje, function(confirmado) {
                if (confirmado) {
                    $target.data("confirmed", true)
                    if ($target.attr("href")) {
                        window.location.href = $target.attr("href")
                    }
                }
            })
        }

    })

    $(".badge-regimen[data-rfc]").each(function(e) {
        var rfc = ($(this).attr("data-rfc") || "").trim()
        if(rfc !== "") {
            setBadgeInfoRegimen($(this), rfc)
        }

    })

    setTimeout(function(){
        $('.flash-message').click()
    }, 4000)

    setIconToggleSidebar()
    generarBreadcrumb('{{ NODO_BREADCRUMB }}')
    esconderOpcionesMenu()
});
</script>
{% endblock _js %}