{% extends "app/base.html" %}
{% block contenido %}
<form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card my-2">
                    <div class="card-body">
                        {{ form.errors }}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.codigo.label_tag }}
                                    {{ form.codigo }}
                                    {{ form.codigo.errors }}
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.valor.label_tag }}
                                    {{ form.valor }}
                                    {{ form.valor.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="text-right">

                            <a href="{% url 'app:catalogo_cascos' %}" id="btnCancelarSol"
                                class="btn btn-light">Cancelar</a>

                            <button type="submit" id="EnviarSoli" class="btn btn-primary">Guardar</button>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

</form>
{% endblock contenido %}