{% extends "app/base.html" %}
{% load custom_tags %}
{% block contenido %}

<div class="card">

    <div class="card-body">
        <div class="text-right">
            <a href="{% url 'app:agregar_cliente' %}" class="btn btn-primary">Agregar</a>
        </div> 

        <form action="." method="GET">{% csrf_token %}
            <div class="btn-group">
                <div class="list-inline">
                    <div class="align-bottom d-inline-block">
                        Tipo:
                        {{ filtro_form.tipo }} 
                        {{ filtro_form.tipo.errors }}
                    </div>
                    {% include "tools/filtro_form.html" %}
                </div>
            </div>
        </form>

        <div class="table-responsive my-2">
            <table class="table table-striped table-sm table-primary">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in list.object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'app:editar_cliente' c.id %}">
                                {{ c.id_admintotal }}
                            </a>
                        </td>

                        <td>
                            <a href="{% url 'app:editar_cliente' c.id %}">
                                {{ c.nombre }}
                            </a>
                        </td>

                        <td>
                            <a href="{% url 'app:editar_cliente' c.id %}">
                                {{ c.show_tipo }}
                            </a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock contenido%}