{% extends "app/base.html" %}

{% block contenido %}
<div class="card">
    <div class="card-body">
        <div class="text-right">
        <a href="{% url 'app:agregar_casco' %}" class="btn btn-primary">Agregar</a>
        </div> 
            <form method="GET" action=".">
                <div class="align-bottom d-inline-block"></div>
               
            </form>
            <div class="table responsive">
                <table class="table table-striped table-sm my-2 table-primary vm">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cascos in objects  %}
                        <tr>
                            <td>
                                <a href="{% url 'app:editar_casco' cascos.id %}">
                                    {{ cascos.codigo }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'app:editar_casco' cascos.id %}">
                                    {{ cascos.valor }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "tools/paginado.html" %}
    </div>
</div>
{% endblock contenido %}