{% load static custom_tags thumbnail %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if title %} {{ title }} | {% endif %}{{ settings.PROJECT_NAME }}</title>
    
    <link href="https://unpkg.com/ionicons@4.5.9-1/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "app/js/jquery-ui-1.12.1/jquery-ui.min.css" %}" />
       

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "app/bootstrap/4.3.1/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "app/css/custom.css" %}?v=1.1.7">
    <link rel="stylesheet" href="{% static "app/css/app.css" %}?v=1.1.15">

    
    <style>
        .header { background-color: {{ configuracion.color_empresa }}; }
        
    </style>

    <style>
        .ui-datepicker {
        background: #333;
        border: 1px solid #555;
        color: #EEE;
        }
        
        .picker-switch  {
            color: black;
        } 
        .dow  {
            color: black; 
        }
    </style>

    {% if configuracion.logo %}
    <link rel="icon" type="image/png" href="{{ configuracion.logo.url }}">
    {% endif %}

    <script src="{% static "app/js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "app/js/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "app/js/jquery.formset.js"%}"></script>
    <script src="{% static "app/js/csrf.js" %}"></script>
    <script src="{% static "app/js/alertify.js" %}?v=1.1.4"></script>

    <script type="text/javascript" src="{% static "tools/js/inputmask.js" %}"></script>
    <script type="text/javascript" src="{% static "tools/js/utils.js" %}?v=1.1.4"></script>


    <script>
    window.urls = {
        ajax_validar_autorizacion: "{% url "usuarios:ajax_validar_autorizacion" "00" %}"
    }
    window.alertify.setConfig({
        container: '#alertifyContainer',
        closeTimeout: 6000,
    });
    window._globals = {
        clave: 'homedepot',
        logging: {
            url: '{{ LOGGER_URL }}/api/v1/log/',
            base_payload: {
                usuario: {
                    id: '{{ request.user.id }}',
                    username: '{{ request.user.username }}',
                }
            }
        },
        palabra_almacen: '{{ inventario.get_palabra_cedis }}',
        dominio: '{{ request.META.HTTP_HOST }}',
        styles: {
            primaryColor: '#001A40',
            dangerColor: '#bc6565',
            successColor: '#509F57',
            secondaryColor: '#18BFD5',
        }
    };
    
    window.getMapMarker = function() {
        return {
            url: '{% static "direcciones/img/map-marker-small.png" %}',
            size: new google.maps.Size(35, 35),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 35)
        }
    };


    window.googleMapDefault = {
        scrollwheel: false,
        maxZoom: 17,
        styles: [{"featureType":"all","stylers":[{"saturation":0},{"hue":"#e7ecf0"}]},{"featureType":"road","stylers":[{"saturation":-70}]},{"featureType":"transit","stylers":[{"visibility":"off"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"simplified"},{"saturation":-60}]}]
    };

    function showLoading() {
        $('.global-loading').fadeIn("fast")
    }

    function hideLoading() {
        $('.global-loading').fadeOut("fast")
    };
    </script>

    {% block _extra_head %}
    {% block extra_head %}
    {% endblock extra_head %}
    {% endblock _extra_head %}

    <style>
    {% include "app/includes/styles.css" %}    
    </style>
  </head>
  <body>
    <div class="container-alertify" id="alertifyContainer"></div>
    {% block _contenido %}
    {% block contenido %}
    {% endblock contenido %}
    {% endblock _contenido %}
    
    <!-- Global loading -->
    <div class="global-loading">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>

    <!-- Alertify Confirm Modal -->
    <div class="modal fade" id="alertifyConfirmModal" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirme para continuar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" id = "btnCerrarModal" class="btn btn-secondary btn-confirm-cerrar" data-dismiss="modal">Cerrar</button>
            <button type="button" id ="btnContinuarModal" class="btn btn-primary btn-confirm-continuar">Continuar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="{% static "app/js/popper.min.js" %}"></script>
    <script src="{% static "app/bootstrap/4.3.1/js/bootstrap.min.js" %}"></script>
    {% block _js %}
    {% block js %}
    {% endblock js %}
    {% endblock _js %}
    
    <script>
    function setLogoBanco(codigo) {
        var $logoBancoImg = $(".logo-banco")

        if ($logoBancoImg.length) {
            $logoBancoImg.empty()
            $logoBancoImg.append('<img height="30px" src="https://soporte.admintotal.com/central_upload/bancos_central/'+ codigo +'.png" />')
        }
    }

    $(function() {
        var ajaxPendientes = {}
        // global loading
        $(document).ajaxStart(function(event, xhr, options) {
            ajaxPendientes[event.time] = 1
            showLoading()
        })
        $(document).ajaxComplete(function(event, xhr, options) {
            delete ajaxPendientes[event.time]
            if (!Object.keys(ajaxPendientes).length) {
                hideLoading()
            }
        })

        $(".autocomplete-banco").autocomplete({
            source: [
                {% for codigo, nombre in BANCOS.items %}
                {
                    label: "{{ codigo }}-{{ nombre }}", 
                    value: "{{ codigo }}-{{ nombre }}", 
                    codigo: "{{ codigo }}", 
                    img: "https://soporte.admintotal.com/central_upload/bancos_central/{{ codigo }}.png"
                },
                {% endfor %}
            ],
            select: function(e, ui) {
                setLogoBanco(ui.item.codigo)
            }
        })

        $(".autocomplete-banco").each(function() {
            var codigoBanco = ($(this).val() || "").split("-")
            if (codigoBanco.length && codigoBanco[0] !== "") {
                setLogoBanco(codigoBanco[0])

            }
        })
    });
    </script>
  </body>
</html>