{% extends "app/base.html" %}
{% load custom_tags %}
{% block contenido %}

<form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card my-2">
                    <div class="card-body">
                        {{ form.errors }}
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.nombre.label_tag }}
                                    {{ form.nombre }}
                                    {{ form.nombre.errors }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.saldo_inicial.label_tag }}
                                    {{ form.saldo_inicial }}
                                    {{ form.saldo_inicial.errors }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.fecha_saldo_inicial.label_tag }}
                                    {{ form.fecha_saldo_inicial }}
                                    {{ form.fecha_saldo_inicial.errors }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.telefono.label_tag }}
                                    {{ form.telefono }}
                                    {{ form.telefono.errors }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.costo_compra_casco.label_tag }}
                                    {{ form.costo_compra_casco }}
                                    {{ form.costo_compra_casco.errors }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.costo_venta_casco.label_tag }}
                                    {{ form.costo_venta_casco }}
                                    {{ form.costo_venta_casco.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.es_proveedor.label_tag }}
                                {{ form.es_proveedor }}
                                {{ form.es_proveedor.errors }}
                            </div>
                        </div>
                        <div class="text-right">

                            <a href="{% url 'app:catalogo_clientes' %}" id="btnCancelarSol"
                                class="btn btn-light">Cancelar</a>

                            <button type="submit" id="EnviarSoli" class="btn btn-primary">Guardar</button>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
{% if cascos %}
<div class="table-responsive my-2">
    <table class="table table-striped table-sm table-primary">
        <thead>
            <tr>
                <th>Folio</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <!-- <th>Cliente</th> -->
                <th>Producto</th>
                <th>Cant entrada</th>
                <th>Factor</th>
                <th>Valor entrada</th>
                <th>Cant salida</th>
                <th>Factor</th>
                <th>Valor salida</th>
                <th>Gran saldo</th>
                <!-- <th>Saldo cliente</th> -->
                <th>Ir</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cascos %}
            <tr>
                <td>{{ c.folio }}</td>
                <td>
                    <a href="#">
                        {{ c.fecha|date:"d/m/Y" }}
                    </a>
                </td>
                <td>
                    <a href="#%}">
                    {{ c.get_tipo_display }}
                    </a>
                </td>
                <!-- <td>
                    <a href="#%}">
                        {{ c.cliente.nombre|truncatechars:60 }}                            
                    </a>

                </td> -->
                <td>
                    <a href="#%}">
                        {{ c.casco.codigo }}
                    </a>
                </td>



                {% if c.es_entrada %}

                    <td class="text-right">
                        <a href="#%}">
                            {{ c.get_cantidad_origen }}
                        </a>
                    </td>
                    <td class="text-right">
                        <a href="#%}">
                            {{ c.casco.valor }}
                        </a>
                    </td>
                    <td class="text-right">
                        <a href="#%}">
                            {{ c.valor_cascos }}
                        </a>
                    </td>

                    <td></td>
                    <td></td>
                    <td></td>

                {% else %}

                    <td></td>
                    <td></td>
                    <td></td>

                    <td class="text-right">
                        <a href="#%}">
                            {{ c.get_cantidad_origen  }}
                        </a>
                    </td>
                    <td class="text-right">
                        <a href="#%}">
                            {{ c.casco.valor }}
                        </a>
                    </td>
                    <td class="text-right">
                        <a href="#%}">
                            {{ c.valor_cascos }}
                        </a>
                    </td>
                {% endif %}
                    
                <td class="text-right">
                    <a href="#%}">{{ c.gran_saldo|cur }}</a>
                </td>
                <!-- <td class="text-right">
                    <a href="#%}">{{ c.saldo_cliente|cur }}</a>
                </td> -->

                <td>
                    <a href="{{ c.view_url }}">Ir</a>
                </td>

                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock contenido %}