{% extends "app/base.html" %}
{% load custom_tags %}
{% block contenido %}
<form action="." method="POST" >
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
            <div class="text-right">
            </div> 
                <form method="GET" action=".">
                    <div class="align-bottom d-inline-block"></div>
                   
                </form>
                <div class="table responsive">
                    <table class="table table-striped table-sm my-2 table-primary vm">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Inventario</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for casco in cascos  %}
                            <tr>
                                <td>
                                    {{ casco.codigo }}
                                </td>
                                <td>
                                    <input name="inventario-{{ casco.id }}" id="inventario-{{ casco.id }}" type="number" class="form-control" onkeypress="return isNumberKey(event)" value="{{ casco.almacen.cantidad }}">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
        </div>
    </div>
</form>
{% endblock contenido %}
{% block js %}
<script>
    function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
}
</script>
{% endblock %}