{% extends "app/base.html" %}
{% load custom_tags %}
{% block contenido %}

<div class="card">
    <div class="card-body">
        
        <div class="text-right">
            
            
            <a href="{% url 'app:sincronizar_kardex' %}" class="btn btn-secondary">Sincronizar con Admintotal</a>    
            <a href="{% url 'app:regenerar_existencias_kardex' %}" class="btn btn-secondary">Regenerar existencias</a>    
        </div>
        <!-- <label>Saldo Global: <a href="#">{{ saldo_global|cur }}</a></label> -->
        <form method="GET" action="." class="my-2">
            <div class="aling-bottom d-inline-block"> 
                <label for="desde">Desde</label>
                {{ filtro_form.desde }}
                {{ filtro_form.desde.errors }}
            </div>
            <div class="aling-bottom d-inline-block"> 
                <label for="hasta">Hasta</label>
                {{ filtro_form.hasta }}
                {{ filtro_form.hasta.errors }}
            </div>
            <!-- <div class="aling-bottom d-inline-block"> 
                <label for="casco">Casco</label>
                {{ filtro_form.casco }}
                {{ filtro_form.casco.errors }}
            </div> -->
            
            {% include "tools/filtro_form.html" %}
            <a href="{% url 'app:graficas_movimientos' %}" class="btn btn-secondary">Graficas</a>
        </form>
        <div class="table-responsive my-2">
            <table class="table table-striped table-sm table-primary">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Agente</th>
                        <th>Folio</th>
                        <th>Cliente</th>
                        {% for a in cascos %}
                        <th>{{a.codigo}}</th>
                        {% endfor %}
                        <th>Total</th>
                        <th></th>
                        <!-- <th>Saldo cliente</th> -->

                        
                    </tr>
                </thead>
                <tbody>
                    {% for c in list.object_list %}
                    {% if c.cancelado %}
                    <tr style="color: red;" >
                    {% else %}
                    <tr>
                    {% endif %}
                    
                        <td class=" border-left ">
                            <a href="#">
                                {{ c.fecha|date:"d/m/Y" }}
                            </a>
                        
                         </td>
                         <td class=" border-left ">
                            <a href="#">
                                {% if c.recolector %}
                                {{ c.recolector }}
                                {% else %}
                                {% endif %}
                            </a>
                        
                         </td>
                         <td class=" border-left ">
                            <a href="#">
                                {{ c.folio }}
                            </a>
                         </td>
                         <td class=" border-left ">
                            <a href="#">
                                {{ c.cliente }}
                            </a>
                         </td>
                         {% for h in c.sums_cascos %}
                            <td class=" border-left text-right">
                                <a href="#">
                                    {% if h != 0 %}
                                    {{ h }}
                                    {% endif %}
                                </a>
                            </td>
                         {% endfor %}
                         <td class="text-right border-left">
                            <a href="#">{{ c.total_por_vale|cur }}</a>
                        </td>
                         {% if c.es_vale %}
                         <td class="border-left">
                            <a href="{% url 'app:ver_vale' c.id %}">
                                Ver                            
                            </a>

                        </td>
                         {% else %}
                         <td class=" border-left ">
                            {% if c.url_pdf %}
                            <a href="{{ c.url_pdf }}">
                            
                                Ver
                            </a>
                            {% endif %}
                         </td>
                         {% endif %}

                         
                         <!-- <td class="text-right">
                            <a href="#">{{ c.saldo_cliente|cur }}</a>
                        </td>  -->

                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "tools/paginado.html" %}
    </div>
</div>

{% endblock contenido%}
