{% extends "app/base.html" %}
{% load custom_tags %}
{% block contenido %}

<div class="card">
    <div class="card-body">
        
        <div class="text-right">
            
            
            <a href="{% url 'app:sincronizar_kardex' %}" class="btn btn-secondary">Sincronizar con Admintotal</a>    
            <a href="{% url 'app:regenerar_existencias_kardex' %}" class="btn btn-secondary">Regenerar existencias</a>    
        </div>
        <!-- <label>Saldo Global: <a href="#">{{ saldo_global|cur }}</a></label> -->
        <form method="GET" action="." class="my-2">
            <div class="aling-bottom d-inline-block"> 
                <label for="desde">Desde</label>
                {{ filtro_form.desde }}
                {{ filtro_form.desde.errors }}
            </div>
            <div class="aling-bottom d-inline-block"> 
                <label for="hasta">Hasta</label>
                {{ filtro_form.hasta }}
                {{ filtro_form.hasta.errors }}
            </div>
            <!-- <div class="aling-bottom d-inline-block"> 
                <label for="casco">Casco</label>
                {{ filtro_form.casco }}
                {{ filtro_form.casco.errors }}
            </div> -->
            <div class="aling-bottom d-inline-block"> 
                <label for="cliente">Cliente</label>
                <br>
                {{ filtro_form.cliente }}
                {{ filtro_form.cliente.errors }}
            </div>
            
            {% include "tools/filtro_form.html" %}
            <a href="{% url 'app:graficas_movimientos' %}" class="btn btn-secondary">Graficas</a>
        </form>
        <div class="table-responsive my-2">
            <table class="table table-striped table-sm table-primary">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        {% for a in cascos %}
                        <th>{{a.codigo}}</th>
                        {% endfor %}
                        <th>Total</th>
                        <!-- <th>Saldo cliente</th> -->
                        <th>Ir</th>

                        
                    </tr>
                </thead>
                <tbody>
                    {% for c in list.object_list %}
                    <tr>
                         <td>
                            <a href="#">
                                {{ c.cliente }}
                            </a>
                         </td>
                         {% for h in c.sums_cascos %}
                            <td class="text-right">
                                <a href="#">
                                    {{ h }}
                                </a>
                            </td>
                         {% endfor %}
                         <!-- <td class="text-right">
                            <a href="#">{{ c.saldo_cliente|cur }}</a>
                        </td>  -->
                        <td class="text-right">
                            <a href="#">{{ c.suma_por_cliente|cur }}</a>
                        </td>
                         <td>
                            <a href="{% url 'app:contador_cliente' c.cliente.id %}">Ir</a>
                        </td> 

                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "tools/paginado.html" %}
    </div>
</div>
<div class="modal fade" id="crearModal" tabindex="-1" role="dialog" aria-labelledby="crearModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Casco</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

{% endblock contenido%}