{% extends "app/base.html" %}

{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
{% endblock extra_head %}

{% block contenido %}
<!-- 
<div class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<div class="card card-body">
				<div>
					<div id="canvas-holder">
						<canvas style="height:300px" id="chart-area"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="card card-body">
				<div>
					<h5 class="text-uppercase">Últimas solicitudes</h5>
					<div class="table-responsive">
						<table class="table table-striped table-sm">
							<thead>
								<tr>
									<th>Status</th>
									<th>Folio</th>
									<th>Fecha</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
-->
{% endblock contenido %}

{% block js %}
<script>
	var randomScalingFactor = function() {
		return Math.round(Math.random() * 100);
	};

	var config = {
		type: 'doughnut',
		data: {
			datasets: [{
				data: [
					3,
					2,
					5,
					9,
				],
				backgroundColor: [
					"#b32929",
					"#d2642c",
					"#deb536",
					"#3ca978",
				],
			}],
			labels: [
				'Vencidas',
				'Rechazadas',
				'Sol. Información',
				'Aprobadas',
			]
		},
		options: {
			responsive: true,
			legend: {
				position: 'top',
			},
			title: {
				display: false,
			},
			animation: {
				animateRotate: true
			}
		}
	};

	window.onload = function() {
		/*var ctx = document.getElementById('chart-area').getContext('2d');
		window.myDoughnut = new Chart(ctx, config);*/
	};


</script>
{% endblock js %}