{% extends "app/base.html" %}
{% load custom_tags %}
{% block contenido %}

    <div class="card">
        <div class="card-body">
            <form action="POST" class="my-2" action=".">
                <div class="align-bottom d-inline-block">
                    <label for="">Año:</label>
                    <div>{{ form.years }}</div>
                </div>
                <div class="align-bottom d-inline-block">
                    <label>Mes:</label>
                    <div>{{ form.meses }}</div>
                </div>
                <div class="align-bottom d-inline-block">
                    <label>Buscar:</label>
                    <div>{{ form.q }}</div>
                </div>
                <div class="align-bottom d-inline-block">
                    <input type="submit" value="Buscar" class="btn btn-primary">
                </div>
            </form>
        </div>
        <div class="form-group">
            <div class="table-responsive">
                <table class="table table-striped table-sm table-primary">
                    <thead>
                       <tr>
                           <th>Periodo</th>
                           <th colspan="2" class="white-background">Entradas</th>
                           <th colspan="6">Salidas</th>
                           <th colspan="4" class="white-background"></th>
                           <th colspan="4"></th>
                       </tr>
                       <tr>
                           <th></th>
                           <th class="white-background">Unidades</th>
                           <th class="white-background">Pesos</th>
                           <th>Unidades</th>
                           <th>Costo</th>
                           <th>Importe</th>
                           <th>Anualizada</th>
                           <th>Utilidad</th>
                           <th>Margen U.</th>
                           <th class="white-background">Inventario</th>
                           <th class="white-background">Valor Inv.</th>
                           <th class="white-background">Costo U.</th>
                           <th class="white-background">Inv promedio</th>
                           <th>Coeficiente inversión</th>
                           <th>GMROI</th>
                           <th>Rotación</th>
                           <th>Días</th>
                       </tr>
                    </thead>
                    <tbody>
                        {% for e in total %}
                        <tr>
                           
                            <td>{{ e.fecha_year_mes.date_mes }}</td>
                            <td class="text-right">{{ e.fecha_year_mes.cantidad_entrada|cur }}</td>
                            <td class="text-right">{{ e.get_cantidad_por_valor_entrada|cur }}</td>
                            <td class="text-right">{{ e.fecha_year_mes.cantidad_salida|cur }}</td>
                            <td class="text-right">{{ e.get_costo_venta|cur }}</td>
                            <td class="text-right">{{ e.get_precio_venta|cur }}</td>
                            <td class="text-right">{{ e.get_anualizado|cur }}</td>
                            <td class="text-right">${{ e.get_utilidad|cur }}</td>
                            <td class="text-right">{{ e.get_marge_u|per }}</td>
                            <td class="text-right">{{ e.get_inventario|cur }}</td>
                            <td class="text-right">${{ e.cliente.costo_venta_casco|cur }}</td>
                            <td class="text-right"> ${{ e.cliente.costo_venta_casco|cur }}</td>
                            <td class="text-right">${{ e.get_inv_prom|cur }}</td>
                            <td class="text-right">{{ e.get_coeficiente_inv|cur }}%</td>
                            <td class="text-right">{{ e.get_gmroi|per }}</td>
                            <td></td>
                            <td></td>

                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}