{% extends "app/base.html" %}
{% load custom_tags %}
{% load thumbnail static custom_tags %}

{% block extra_head %}
<script src="{% static 'app/highcharts9.0.1/highcharts.js' %}"></script>
<script src="{% static 'app/highcharts9.0.1/modules/exporting.js' %}"></script>
<script src="{% static 'app/highcharts9.0.1/modules/export-data.js' %}"></script>
<script src="{% static 'app/highcharts9.0.1/modules/accessibility.js' %}"></script>
{% endblock%}
 

{% block contenido %}
<div class="card">
    <div class="card-body">
        <form method="GET" action="." class="my-2">
            <div class="aling-bottom d-inline-block"> 
                <label for="desde">Desde</label>
                {{ filtro_form.desde }}
                {{ filtro_form.desde.errors }}
            </div>
            <div class="aling-bottom d-inline-block"> 
                <label for="hasta">Hasta</label>
                {{ filtro_form.hasta }}
                {{ filtro_form.hasta.errors }}
            </div>
            <div class="aling-bottom d-inline-block"> 
                <label for="casco">Casco</label>
                {{ filtro_form.casco }}
                {{ filtro_form.casco.errors }}
            </div>
            <div class="aling-bottom d-inline-block"> 
            
                {{ filtro_form.cliente }}
                {{ filtro_form.cliente.errors }}
            </div>
            
            {% include "tools/filtro_form.html" with no_mostrar_elemento=no_mostrar_elemento no_mostrar_buscar=no_mostrar_buscar%}

            <!-- <a href="{% url 'app:graficas_movimientos' %}" class="bi bi-bar-chart"></a> -->

            
        </form>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div id="grafica_barra">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div id="grafica_pastel">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    // grafica de barra
Highcharts.chart('grafica_barra', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Total por tipo de casco'
    },
    subtitle: {
        text: ''
    },
    accessibility: {
        announceNewData: {
            enabled: true
        }
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Total por tipo de casco'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.1f}'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b><br/>'
    },

    series: [
        {
            name: "Tipo de cascos",
            colorByPoint: true,
            data: [
                {
                    name: "Casusa 1",
                    y: {{total_casusa1}},
                },
                {
                    name: "Casusa 2",
                    y: {{total_casusa2}},
                },
                {
                    name: "Casusa 3",
                    y: {{total_casusa3}},
                },
                {
                    name: "Casusa 4",
                    y: {{total_casusa4}},
                },
                {
                    name: "Casusa 5",
                    y: {{total_casusa5}},
                },
                {
                    name: "Casusa 6",
                    y: {{total_casusa6}},
                },
                {
                    name: "Casusa 7",
                    y: {{total_casusa7}},
                }
            ]
        }
    ],
    
});

// grafica de pastel

var pieColors = (function () {
    var colors = [],
        base = Highcharts.getOptions().colors[0],
        i;

    for (i = 0; i < 10; i += 1) {
        // Start out with a darkened base color (negative brighten), and end
        // up with a much brighter color
        colors.push(Highcharts.color(base).brighten((i - 3) / 7).get());
    }
    return colors;
}());

// Build the chart
Highcharts.chart('grafica_pastel', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Total por tipo de casco'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}</b>'
    },
    accessibility: {
        point: {
            valueSuffix: ''
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            colors: pieColors,
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b><br>{point.percentage:.1f}%',
                distance: -50,
                filter: {
                    property: 'percentage',
                    operator: '>',
                    value: 4
                }
            }
        }
    },
    series: [{
        name: 'Share',
        data: [
            { name: 'Casusa 1', y: {{total_casusa1}} },
            { name: 'Casusa 2', y: {{total_casusa2}} },
            { name: 'Casusa 3', y: {{total_casusa3}} },
            { name: 'Casusa 4', y: {{total_casusa4}} },
            { name: 'Casusa 5', y: {{total_casusa5}} },
            { name: 'Casusa 6', y: {{total_casusa6}} },
            { name: 'Casusa 7', y: {{total_casusa7}} }
        ]
    }]
});

</script>

{% endblock contenido %}