{% extends "app/base.html" %}
{% load custom_tags %}
{% load thumbnail static custom_tags %}

{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock extra_head %}

{% block contenido %}


<div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <table class="table table-striped  table-sm table-primary">
                    <thead>
                      <tr>
                        <th>En almacen: </th>
                        <th class="text-right">{{ inv_total }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for casco in cascos %}
                      <tr>
                        <td>{{ casco.codigo }}</td>
                        <td class="text-right">{{ casco.get_inventario }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6">
                  <canvas id="grafica_pastel">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <canvas id="grafica_line">
                  </canvas>
                </div>
                <div class="col-md-6">
                  <table class="table table-striped  table-sm table-primary">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Salidas:</th>
                        <th>Entradas:</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for casco in cascos %}
                      <tr>
                        <td>{{ casco.codigo }}</td>
                        <td class="text-right">{{ casco.get_total_salidas }}</td>
                        <td class="text-right">{{ casco.get_total_entradas }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
          
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <table class="table table-striped table-bordered table-sm table-primary">
        <thead>
            <tr>
              <th></th>
              {% for casco in cascos %}
                <th colspan="2">{{ casco.codigo }}</th>
              {% endfor %}
            </tr>
            <tr>
              <th></th>
              {% for casco in cascos %}
                <th>Entradas:</th>
                <th>Salidas:</th>
              {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for cliente in list.object_list %}
              <tr>
                <td>{{ cliente.nombre }}</td>
                {% for entrada, salida in cliente.total_cascos %}
                  <td class="text-right">{{ entrada|default:"" }}</td>
                  <td class="text-right">{{ salida|default:"" }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
        </tbody>
      </table>
      {% include "tools/paginado.html" %}
    </div>
  </div>
  


{% endblock contenido%}
{% block js %}
<script type="application/javascript">



const labels = [];
const data_cascos = [];
const data_salidas =[];
const data_entradas =[];

{% for c in cascos %}
labels.push("{{c.codigo}}")
data_cascos.push({{c.get_inventario}})
data_salidas.push({{ c.get_total_salidas }})
data_entradas.push({{ c.get_total_entradas }})
{% endfor %}

  const data = {
    labels: labels,
    datasets: [{
      backgroundColor: ["powderblue",'lightblue',"skyblue","lightskyblue","cornflowerblue", "steelblue","royalblue"],
      borderColor: 'grey',
      data: data_cascos,
    }]
  };

  const config = {
    type: 'doughnut',
    data: data,
    options: {
      responsive: true,
      plugins: {
        legend: {
      position: "left"
    }
      }
    }
  };

  const myChart = new Chart(
    document.getElementById('grafica_pastel'),
    config
  );


const data_line = {
  labels: labels,
  datasets: [
    {
      label: 'Entradas',
      data: data_entradas,
      borderColor: "royalblue",
      backgroundColor: "royalblue",
    },
    {
      label: 'Salidas',
      data: data_salidas,
      borderColor: "lightblue",
      backgroundColor: 'lightblue',
    }
  ]
};


const config_line = {
  type: 'line',
  data: data_line,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'bottom',
      },
    }
  },
}; 

const myChart2 = new Chart(
    document.getElementById('grafica_line'),
    config_line
  );

 
</script>
{% endblock js %}