{% extends "app/base.html" %}
{% load custom_tags %}
{% block contenido %}
{% load humanize %}


<div class="card">
    <div class="card-body">
        
        <div class="text-right">
            
            <a href="{% url 'app:agregar_entrada' %}" class="btn btn-secondary">Agregar Entrada</a>
            <!-- <a href="{% url 'app:graficas_movimientos' %}" class="btn btn-secondary">Graficas</a> -->
  
        </div>
        <form method="GET" action="." class="my-2">
            <div class="aling-bottom d-inline-block"> 
                <label for="desde">Desde</label>
                {{ filtro_form.desde }}
                {{ filtro_form.desde.errors }}
            </div>
            <div class="aling-bottom d-inline-block"> 
                <label for="hasta">Hasta</label>
                {{ filtro_form.hasta }}
                {{ filtro_form.hasta.errors }}
            </div>
            <div class="aling-bottom d-inline-block"> 
            
                {{ filtro_form.cliente }}
                {{ filtro_form.cliente.errors }}
            </div>
            
            {% include "tools/filtro_form.html" %}
            <a href="{% url 'app:graficas_movimientos' %}" class="btn btn-secondary">Graficas</a>

            
        </form>
        </div>
        <div class="table-responsive my-2">
            <table class="table table-striped table-sm table-primary">
                <thead>
                   
                    <tr>
                        <th>Fecha</th>
                        <th>Vale</th>
                        <th>Recolector</th> 
                        <th>Cliente</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        
                    
                        
                    </tr>
                </thead>
                <tbody>
                    {% for c in list.object_list %}
                    <tr style="{% if c.cancelado %} background-color: LightCoral;{% endif %}">
                        <td>
                            <a href="">
                                {{ c.fecha|date:"d/m/Y" }}
                            </a>
                        </td>
                        <td>
                            <a href="">
                                {{c.folio}}
                            </a>
                        </td>
                         <td>
                             <a href="">
                                 {{c.recolector|default:""}}
                            </a>
                         </td>
                        
                        <td>
                            <a href="">
                                {{ c.cliente.nombre|truncatechars:60 }}                            
                            </a>

                        </td>
                        
                        <td>
                            {% if c.cantidad_restante > 0 and not c.cancelado %}
                            <div class="badge badge-pill badge-primary">
                                <a href="{% url 'app:agregar_nota_credito' c.id %}">
                                    Generar nota de credito                         
                                </a>
                            </div>         
                            {% endif %}
                        </td>
                        
                        <td>
                            <a href="{% url 'app:ver_vale' c.id %}">
                                Ver vale                            
                            </a>
                            
                        </td>
                        
                        <td class="text-right">
                            {% if not c.cancelado %}
                            <a href="{% url 'app:cancelar_movimiento' c.id %}"><i style="vertical-align: middle; color: red;"class="material-icons">&#xe5cd;</i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "tools/paginado.html" %}
    </div>
</div>

{% endblock contenido%}