{% extends "app/base.html" %}
{% block contenido %}

<form id="form" action="" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    {{ formset.management_form }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card my-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label >Cliente:</label>
                                    {{ form.cliente_ac }}
                                    {{ form.cliente_ac.errors }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    {{ form.fecha.label_tag }}
                                    {{ form.fecha }}
                                    {{ form.fecha.errors }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.recolector.label_tag }}
                                    {{ form.recolector }}
                                    {{ form.recolector.errors }}
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    {{ form.folio.label_tag }}
                                    {{ form.folio }}
                                    {{ form.folio.errors }}
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label>Descuento:</label>
                                    {{ form.descuento }}
                                    {{ form.descuento.errors }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            
                            
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form.saldo.label_tag }}
                                    {{ form.saldo }}
                                    {{ form.saldo.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card my-2">
            <div class="card-body">
                    <table>
                        <thead>
                            <tr>
                                <th><font color="black">Casco</font></th>
                                <th><font color="black">Cantidad Origen</font></th>
                                <th><font color="black">Total</font></th>
                            </tr>
                        </thead>
                        <tbody id="formset">
                            {% for f in cascos %}
                                <tr>
                                    <td><label class="btn btn-secondary" for="option2">{{ f.codigo }}</label></td>
                                    <td><input type="text" class="form-control" id="casco-{{ forloop.counter }}" name="casco" onchange="total({{f.valor}}, {{ forloop.counter}})"onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"></td> 
                                    <td class="text-center"><label id="total-{{ forloop.counter }}">-</label></td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <th class="text-right" ><font color="black">Total</font></th>
                                <td class="text-center" ><label id="total">0</label></td>
                            </tr>
                        </tbody>
                    </table>
                    <span style="color: red; display: none;" id="error">Es necesario al menos ingresar algun tipo de casco</span>                    
                </div>   
            </div>
        </div>
    <div class="text-right">

        <a href="{% url 'app:kardex_entradas_almacen' %}" id="btnCancelarSol"
            class="btn btn-light">Cancelar</a>

        <a class="btn btn-secondary" style="color: white;" onclick="verificarForm()">Continuar</a>                            
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-body" style="text-align: center;">
                <p>El cliente cuenta con un saldo a favor de: </p><b id="cantidad">0 Cascos</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-secondary">Guardar</button>
            </div>
            </div>
        </div>
    </div>
</form>


{% endblock contenido %}
{% block js%}
<script>
    var cliente_saldo =0
    $('#id_cliente_ac').autocomplete({
        source: "{% url "app:ajax_clientes_ac" %}",
        select: function(e, ui) {
                cliente_saldo=ui.item.saldo
                console.log(cliente_saldo)
        }
    })

    function total(valor, index){
        var valor = valor *$("#casco-"+index).val()
        $("#total-"+index).html(valor);
        var total=0;
        $( "label[id*='total-']" ).each(function(){
            if($(this).text()!="-"){
                total +=parseFloat($(this).text())
            }
            
        });
        $("#total").html(total)
    }

    function verificarForm(){
        var total=0;
        $( "label[id*='total-']" ).each(function(){
            if($(this).text()!="-"){
                total +=parseFloat($(this).text())
            }
            if(total == 0){
                $("#error").show()
                
            }else{
                if(cliente_saldo!=0 || cliente_saldo != null){
                    $("#myModal").modal()
                    $("#cantidad").html(cliente_saldo.toFixed(2)+" Cascos")
                }else{
                    document.getElementById("form").submit();
                }
            }
            
        });
        
        
    }


    $(function(){
        $("#id_descuento").keydown(function(e)
        {
            var key = e.charCode || e.keyCode || 0;
            return (
                key == 8 || 
                key == 9 ||
                key == 13 ||
                key == 46 ||
                key == 110 ||
                key == 190 ||
                (key >= 35 && key <= 40) ||
                (key >= 48 && key <= 57) ||
                (key >= 96 && key <= 105));
        });
        $("#id_descuento").change(function(e)
        {
            if($(this).val()>100){
                $(this).val(100)
            }
        });
    })

</script>
{% endblock js%}