{% extends "app/base.html" %}
{% load custom_tags %}
{% block contenido %}
<div class="container-fluid" id="top">
        <div class="row">
            <div class="col-md-8">
                <div class="card my-2">
                    <div class="card-body">
                        {{ form.errors }}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <label for="">Folio:</label>
                                             {{ nota.folio }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="">Cliente:</label>
                                        {{ nota.vale.cliente }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Vale:</label>
                                    #{{ nota.vale.folio }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Fecha:</label>
                                        {{ nota.vale.fecha|date:"d/m/Y" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Cascos(Base 1):</label>
                                            {{ nota.vale.get_valor_cascos }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Importe:</label>
                                            {{ nota.vale.get_valor_monto|cur:"$" }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Saldo(base 1):</label>
                                            <label id="vale_restante" style="font-weight: normal;">{{ nota.vale.cantidad_restante }}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="">Saldo Importe:</label>
                                            {{ nota.vale.get_valor_monto_restante|cur:"$" }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card my-2">
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Saldo(base 1):</label>
                                <label id="vale_restante" style="font-weight: normal;">{{ nota.vale.cantidad_restante|cur }}</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Aplicado:</label>
                                <label id="aplicado"style="font-weight: normal; ">{{ nota.get_aplicado|cur }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card my-2">
                    <div class="card-body">
                        <table class="table table-striped table-sm table-primary">
                                <thead>
                                    <tr>
                                        <th>Cantidad vale:</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>Casco</th>
                                        <th>Cantidad</th>
                                        <th class="text-right">Cantidad base 1</th>
                                        <th class="text-right">Importe</th>
                                        <th class="text-right">Total</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    {% for x in nota.vale.detalles.all %}
                                    <tr>
                                    <td>{{ x.casco.codigo }}</td>
                                    <td>{{ x.cantidad_origen_local }}</td>
                                    <td class="text-right">{{ x.get_cantidad_base1 }}</td>
                                    <td class="text-right">{{ x.get_monto|cur:"$" }}</td>
                                    <td class="text-right">{{ x.get_total|cur:"$" }}</td>
                                </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </div>
                </div>
                <div class="card my-2">
                    <div class="card-body">
                        <table class="table table-striped table-sm table-primary">
                                <thead>
                                    <tr>
                                        <th>Facturas vale:</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>Folio</th>
                                        <th>Fecha</th>
                                        <th class="text-right">Cantidad base 1</th>
                                        <th class="text-right">Importe</th>
                                        <th class="text-right">Total</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    {% for f in nota.detalle_factura.all %}
                                    <tr>
                                        <td>{{ f.factura.folio }}</td>
                                        <td>{{ f.creado|date:"d/m/Y" }}</td>
                                        <td class="text-right">{{ f.factura.cantidad_origen|cur }}</td>
                                        <td class="text-right">{{ f.get_importe_pago|cur:"$" }}</td>
                                        <td class="text-right">{{ f.cantidad|cur }}</td>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}}