{% extends "app/base.html" %}
{% load custom_tags %}
{% block contenido %}
<div class="card">
    <div class="card-body">
        <form method="GET" action="." class="my-2">
            <div class="aling-bottom d-inline-block"> 
                <label for="desde">Desde</label>
                {{ filtro_form.desde }}
                {{ filtro_form.desde.errors }}
            </div>
            <div class="aling-bottom d-inline-block"> 
                <label for="hasta">Hasta</label>
                {{ filtro_form.hasta }}
                {{ filtro_form.hasta.errors }}
            </div>
            
            {% include "tools/filtro_form.html" %}
        </form>
        <div class="table-responsive my-2">
            <table class="table table-striped table-sm table-primary">
                <thead>

                    <tr>
                        <th>Folio</th>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th></th>

                        
                    </tr>
                </thead>
                <tbody>
                    {% for c in list.object_list %}
                    <tr>
                        
                        <td>{{ c.id }}</td>
                        <td>{{ c.creado|date:"d/m/Y" }}</td>
                        <td>{{ c.vale.cliente }}</td>
                        <td><a href="{% url 'app:nota_credito' c.id %}">Ver</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "tools/paginado.html" %}
    </div>
</div>


{% endblock contenido%}