{% extends "app/base.html" %}
{% block contenido %}
<div class="card">

    <div class="card-body">
        <div class="text-right">
            <a href="{% url 'app:agregar_orden_compra_domicilio' %}" class="btn btn-primary">Agregar</a>
        </div> 

        <form action="." method="GET">{% csrf_token %}
            <div class="btn-group">
                <div class="list-inline">
                    <div class="align-bottom d-inline-block">
                      
                    </div>
                    {% include "tools/filtro_form.html" %}
                </div>
            </div>
        </form>

        <div class="table-responsive my-2">
            <table class="table table-striped table-sm table-primary">
                <thead>
                    <tr>
                        <th>Id</th>
                    </tr>
                </thead>
                <tbody>
                 
                    <tr>
                        <td>
                            <a href="#">
                             
                            </a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock contenido %}
