{% extends "app/base.html" %}
{% block contenido %}


<div class="card">
    <div class="card-body">
        <form action="." id="formOrdenDomicilio" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>ORDEN DE PEDIDO A DOMICILIO</h4>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline">
                        <li>
                            <label class="control control-checkbox">
                                Requiere Factura
                                {{ form.requiere_factura }}
                                {{ form.requiere_factura.errors }}
                            </label>
                        </li>
                        <li>
                            <label class="control control-checkbox">
                                Datos Facturación Ténico
                                {{ form.datos_facturacion_tecnico }}
                                {{ form.datos_facturacion_tecnico.errors }}
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-inline nopadding vm">
                                <li>
                                    <label>Medio:</label> Llamada
                                </li>
                                <li>
                                    <label>Vendedor:</label>  {{ request.user.get_full_name }}
                                </li>
                                <li>
                                    <label>Fecha:</label> {{ fecha_hoy|date:"d/m/y" }} {{ fecha_hoy|time:"h:i" }}
                                </li>
                            </ul>        
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <b>Cliente</b>
                            <b>{{ form.cliente_ac }}</b>
                            {{ form.cliente.as_hidden }}
                            {{ form.cliente.errors }}
                            <a href="" data-toggle="modal" data-target="#modalPassword">Agregar cliente</a>
                        </div>
                        
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <b>Núm. teléfono</b>
                            {{ form.telefono_ac }}
                            
                        </div>
                    </div>   
                </div>
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>Dirección de servicio</h5>
                    <br>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <label>{{ form.calle.label_tag }}</label>
                            {{ form.calle }}
                            {{ form.calle.errors }}
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <label>{{ form.colonia.label_tag }}</label>
                            {{ form.colonia }}
                            {{ form.colonia.errors }}
                        </div>

                        <div class="col-md-1">
                            <label>Nº int:</label>
                            {{ form.no_i }}
                            {{ form.no_i.errors }}
                        </div>

                        <div class="col-md-1">
                            <label>Nº ext:</label>
                            {{ form.no_e }}
                            {{ form.no_e.errors }}
                        </div>

                        <div class="col-md-1">
                            <label><strong>{{ form.cp.label_tag }}</strong></label>
                            {{ form.cp }}
                            {{ form.cp.errors }}
                        </div>

                        <div class="col-md-2">
                            <b>{{ form.estado.label_tag }}</b>
                            {{ form.estado }}
                            {{ form.estado.errors }}
                        </div>

                        <div class="col-md-5">
                            <b>{{ form.referencias.label_tag }}</b>
                            {{ form.referencias }}
                            {{ form.referencias.errors }}
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <b>{{ form.estacionamiento.label_tag }}</b>
                            {{ form.estacionamiento }}
                            {{ form.estacionamiento.errors }}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>Datos de automóvil </h5>
                    <br>
                    <div class="row">
                        <div class="col-md-2">
                            <b>{{ form.marca_automovil.label_tag }}</b>
                            {{ form.marca_automovil }}
                            {{ form.marca_automovil.errors }}
                        </div>
                        <div class="col-md-2">
                            <b>{{ form.modelo_automovil.label_tag }}</b>
                            {{ form.modelo_automovil }}
                            {{ form.modelo_automovil.errors }}
                        </div>
                        <div class="col-md-1">
                            <b>{{ form.ano_automovil.label_tag }}</b>
                            {{ form.ano_automovil }}
                            {{ form.ano_automovil.errors }}
                        </div>
                    </div>   
                    <div class="row">
                        <div class="col-md-2">
                            <b>{{ form.observaciones.label_tag }}</b>
                            {{ form.observaciones }}
                            {{ form.observaciones.errors }}
                        </div>
                    </div>  
                </div>
            </div>    
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <label> Opción 1 </label>
                            <br>
                            <label> Modelos de batería</label>
                            <table>
                                <thead>
                                    <tr>
                                        <th><label></label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                    <tr>
                                        <td> </td>
                                        <td></td>
                                    </tr>
                            </table>

                        </div>
                        <div class="col-md-5">
                            <label> Opción 2 </label>
                            <br>
                            <label> Modelos de batería</label>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>Pago</h5>
                    <br>
                    <div class="row">
                        <div class="col-md-2">
                            <b>{{ form.tipo_pago.label_tag }}</b>
                            {{ form.tipo_pago }}
                            {{ form.tipo_pago.errors }}
                        </div>
                        <div class="col-md-2">
                            Banco
                        </div>
                        <div class="col-md-2">
                            <b>{{ form.meses_sin_intereses.label_tag }}</b>
                            {{ form.meses_sin_intereses }}
                            {{ form.meses_sin_intereses.errors }}
                        </div>

                        <div class="col-md-2">
                            <b>{{ form.requieres_cambio.label_tag }}</b>
                            {{ form.requieres_cambio }}
                            {{ form.requieres_cambio.errors }}
                        </div>
                        <div class="col-md-2">
                            <b>{{ form.monto_cambio.label_tag }}</b>
                            {{ form.monto_cambio }}
                            {{ form.monto_cambio.errors }}
                        </div>
                        <div class="col-md-2">
                            <b>{{ form.tecnico.label_tag }}</b>
                            {{ form.tecnico }}
                            {{ form.tecnico.errors }}
                        </div>
                        <div class="col-md-2">
                            <b>{{ form.dia.label_tag }}</b>
                            {{ form.dia }}
                            {{ form.dia.errors }}
                        </div>
                        <div class="col-md-2">
                            <b>{{ form.hora.label_tag }}</b>
                            {{ form.hora }}
                            {{ form.hora.errors }}
                        </div>
                    </div>  
                </div>
            </div>  
            <div class="text-right">
                <br>
                <button type="submit" class="btn btn-primary">Guardar</button>                            
            </div>
        </form>
    </div>
</div>
<div class="text-right">

    <div class="modal fade" tabindex="-1" role="dialog" id="modalPassword">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar cliente</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="text-left">
                        <label for=""> Contraseña:</label>
                        </div>
                        <input name="password_autorizacion" type="password" id="password_autorizacion"
                            class="form-control" autocomplete="new-password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelar" class="btn btn-secondary"
                        data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block js %}
<script>

function seleccionar_cliente($row, cliente){
    
    $row.find('[name$="cliente_ac"]').val(cliente.nombre)
    $row.find('[name$="telefono_ac"]').val(cliente.telefono)
}

function set_cliente_ac($row){
    $row.find('[name$="cliente_ac"]').autocomplete({
        select: function(e, ui) {
            seleccionar_cliente($row, ui.item)
        },
        change: function(request){
           var cliente_txt = $row.find('[name$="cliente_ac"]').val()
           
           if(cliente_txt){
                $.ajax({
                  url: "{% url "app:ajax_get_cliente" "0" %}".replace("0", cliente_txt),
                  dataType: "json",
                
                  success: function(data, ui) {
                      if(data.id){
                        seleccionar_cliente($row, data)
                      }
                      
                  }
                })
           }

        },
        source: function(request, response) {
            $.ajax({
              url: "{% url "app:ajax_clientes_ac" %}",
              dataType: "json",
              data: {
                term: request.term,
              },
              success: function( data ) {
                response(data);
              }
            })
        },
    })
}
function agregar_clientes($row) {
    set_cliente_ac($row)
    $row.find('[name$="cliente_ac"]').focus()
}

$(function(){

    $('#formOrdenDomicilio').each(function() {
        set_cliente_ac($(this))
    })
});

</script>
{% endblock js %}
