{% extends "app/base.html" %}
{% load custom_tags %}
{% block contenido %}

<div class="card">
    <div class="card-body">
        
        <div class="text-right">
            <a href="{% url 'app:agregar_salida_usado_proveedor' %}" class="btn btn-secondary">Generar salida a proveedor</a>           
            <a href="{% url 'app:agregar_salida_garantia_proveedor' %}" class="btn btn-secondary">Generar salida por garantía</a>    
        </div>
        <form method="GET" action="." class="my-2">
            <div class="aling-bottom d-inline-block"> 
                <label for="desde">Desde</label>
                {{ filtro_form.desde }}
                {{ filtro_form.desde.errors }}
            </div>
            <div class="aling-bottom d-inline-block"> 
                <label for="hasta">Hasta</label>
                {{ filtro_form.hasta }}
                {{ filtro_form.hasta.errors }}
            </div>
            <div class="aling-bottom d-inline-block"> 
                <label for="cliente">Buscar</label>
                <br>
                {{ filtro_form.q }}
                {{ filtro_form.q.errors }}
            </div>
            
            {% include "tools/filtro_form.html" %}
        </form>
        <div class="table-responsive my-2">
            <table class="table table-striped table-sm table-primary">
                <thead>
                    <tr>
                        <th></th>
                        <th>Fecha</th>
                        <th>Folio</th>
                        <th>Proveedor</th>
                        <th>Almacen</th>
                        <th>Xml</th>

                        
                    </tr>
                </thead>
                <tbody>
                    {% for o in list.object_list %}
                        <tr>
                            <td>{% if  o.tipo == 4 %}<span class="badge badge-primary">Garantia</span>{% endif %}</td>
                            <td>{{ o.creado|date:"d/m/Y" }}</td>
                            <td>{{ o.folio }}</td>
                            <td>{{ o.proveedor }}</td>
                            <td>{{ o.almacen }}</td>
                            <td>
                                {% if o.xml %}
                                    <span class="badge badge-success">XML</span>
                                {% else %}
                                    <span class="badge badge-warning">Sin XML</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "tools/paginado.html" %}
    </div>
</div>
{% endblock contenido%}