{% extends "app/base.html" %}
{% load custom_tags %}
{% block contenido %}

<form method="post" action=".">{% csrf_token %}
    <div class="card">
        <div class="card-body">
            
            <div class="table-responsive my-2">
                {{ form.fecha }}
                <input type="submit" value="Guardar"/>
            </div>
        </div>
    </div>
</form>

{% endblock contenido%}