<table>
    <thead>
        <tr>
            <th><strong>Cliente</strong></th>
            <th><strong>Fecha</strong></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td width="60%" style="text-align:center">
                    {{ movimiento.cliente }}
                </td>
                <td width="60%" style="text-align:center">
                    {{ movimiento.fecha|date:"d/m/Y" }}
                </td>
            </tr>
    </tbody>
</table>  
<table>
    <thead>
        <tr>
            <th><strong>Tipo</strong></th>
            <th><strong>Recolector</strong></th>
            <th><strong>Numero de vale</strong></th>
        </tr>
    </thead>
    <tbody >
            <tr >
                {% if movimiento.tipo == 1 %}
                <td width="20%" style="text-align:center">
                    ENTRADA
                </td>
                {% else %}
                <td width="20%" style="text-align:center">
                    SALIDA
                </td>
                {% endif %}
                <td width="40%" style="text-align:center">
                    {{ movimiento.recolector }}
                </td>
                <td width="20%" style="text-align:center">
                    {{ movimiento.folio }}
                </td>
                
            </tr>
    </tbody>
</table>  
<table>
    <thead>
        <tr>
            <th><strong>Casco</strong></th>
            <th><strong>Cantidad Origen</strong></th>
        </tr>
    </thead>
    <hr>
    <tbody id="formset">
        {% for f in formset %}
            <tr>
                <td width="60%" style="text-align:center"> 
                    {{ f.instance.casco }}
                </td>
                <td style="text-align:center">
                    {{ f.instance.cantidad_origen_local }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>    
<hr>          
