{% extends template_base %}

{% block contenido %}
<div class="card m-4">
	<div class="card-body text-center">
		<h1 class="text-danger m-0" style="font-size: 7em;"><i class="icon ion-md-lock"></i></h1>
		<h3 class="text-danger">Acceso Denegado</h3>
		{% if permiso %}
		<p class="lead">No cuenta con el permiso <b>{{ permiso }}</b>.</p>
		{% endif %}

		{% if request.GET.next %}
			<a href="{{ request.GET.next }}" id="VolverIntentar" class="btn btn-primary">Volver a intentar</a>
		{% endif %}
	</div>
</div>
{% endblock contenido %}
