{% extends "app/base.html" %}
{% load static custom_tags %}
{% block contenido %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<form method="POST" enctype="multipart/form-data" autocomplete="off">
				{% csrf_token %}
				<div class="card mb-2">
					<div class="card-body">
						<div class="form-group mb-0">
							<label>
								{{ form.cambiar_password }}
								{{ form.cambiar_password.label }}
							</label>
							{{ form.cambiar_password.errors }}
						</div>
						<div class="form-group">
			      			{{ form.archivo.label_tag }}
			      			<div>
			      				{{ form.archivo }}
			      			</div>
			      			{{ form.archivo.errors }}
			      		</div>
			      		<hr class="my-1">
			      		<a href="{% static "usuarios/plantillas/plantilla_importar_usuarios.xlsx" %}" id="descargarPlant" class="btn btn-link btn-sm text-info">
			      			Descargar plantilla
			      		</a>
					</div>
				</div>

				<div class="text-right">
					<button type="submit" id="ImportarUsuarios" class="btn btn-primary">Importar</button>
				</div>
			</form>
		</div>
		<div class="col-md-8">
			<table class="table table-striped table-primary table-sm">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Archivo</th>
						<th>Usuario</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for importado in historial %}
					<tr {% if importado.log.errores %} class="table-danger" {% endif %}>
						<td>{{ importado.creado|date:"d/m/Y H:i" }}</td>
						<td><a class="word-break" href="{{ importado.archivo.url }}" download>{{ importado.archivo.url }}</a></td>
						<td>{{ importado.usuario_creado }}</td>
						<td class="text-right">
							<a href="#" data-log='{{ importado.log|jsonify }}' class="btn btn-sm"><i class="icon ion-md-information-circle-outline"></i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="row">
      		<div class="col-md-6">
      			<div class="p-2 text-center font-weight-bold">Inicio: <span class="text-info inicio"></span></div>
      		</div>
      		<div class="col-md-6">
      			<div class="p-2 text-center font-weight-bold">Fin: <span class="text-info fin"></span></div>
      		</div>
      	</div>
      	<p class="mensaje text-center text-info"></p>
      	<table class="table table-striped table-sm">
      		<thead>
      			<tr>
	      			<th class="text-danger">Errores</th>
	      		</tr>
      		</thead>
      		<tbody>
      			
      		</tbody>
      	</table>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnCerrarImport" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}

{% block js %}
<script>
$(function() {
	$("[data-log]").click(function(e) {
		var log = $(this).data("log")
		var trs = []
		$.each(log.errores, function(){
			var $tr = $("<tr></tr>")
			$tr.append("<td>"+ this +"</td>")
			trs.push($tr)
		})
		var inicio = moment(log.inicio).format("DD/MM/YYYY HH:mm:ss")
		var fin = moment(log.fin).format("DD/MM/YYYY HH:mm:ss")
		var titulo = "Importado " + inicio
		$("#errorModal .inicio").text(inicio)
		$("#errorModal .fin").text(fin)
		$("#errorModal .mensaje").text(log.mensaje)
		$("#errorModal .modal-title").text(titulo)
		if(trs.length) {
			$("#errorModal tbody").html(trs)
			$("#errorModal .table").show()
		} else {
			$("#errorModal .table").hide()
		}
		$("#errorModal").modal("show")

	})
});
</script>
{% endblock js %}