{% extends "app/base.html" %}

{% block contenido %}
<div class="card">
	<div class="card-body">
		
		<form method="GET" action="." class="my-2">
			<div class="align-bottom d-inline-block"></div>
			{% include "tools/filtro_form.html" %}
		</form>

		<div class="table-responsive">
			<table class="table table-striped table-sm table-primary my-2">
				<thead>
					<tr>
						<th class="text-center">Existoso</th>
						<th>IP</th>
						<th>Nombre de usuario</th>
						<th>User Agent</th>
						<th>Fecha</th>
					</tr>
				</thead>
				<tbody>
					{% for inicio_sesion in objects %}
						<tr>
							<td class="text-center">
								<a href="#">
									{% if inicio_sesion.exitoso %}
										<i class="icon ion-md-checkmark text-success"></i>
									{% else %}
										<i class="icon ion-md-close text-danger"></i>
									{% endif %}
								</a>
							</td>
							<td>
								<a href="#">
									{{ inicio_sesion.ip }}
								</a>
							</td>
							<td>
								<a href="#">
									{{ inicio_sesion.nombre_usuario }}
								</a>
							</td>
							<td>
								<a href="#">
									{{ inicio_sesion.user_agent }}
								</a>
							</td>
							<td>
								<a href="#">
									{{ inicio_sesion.get_creado }}
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		{% include "tools/paginado.html" %}  
	</div>
</div>
{% endblock contenido %}