{% extends "app/clean_base.html" %}
{% load thumbnail %}
{% block _contenido %}
<!-- <div class="header"></div> -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="full-content-height bg-white" style="height:100vh;box-shadow: 3px 0px 5px rgba(0,0,0,.015);">
				<div class="text-center">
					{% if configuracion.logo %}
					<div class="m-5">
						{% thumbnail configuracion.logo "x150" format="PNG" as im %}
						<img src="{{ im.url }}"  class="img-fluid">
						{% endthumbnail %}
					</div>
					{% endif %}
					<hr style="opacity:.5">
					<h1 class="text-primary font-weight-normal">{{ configuracion.project_name|default:'' }}</h1>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="p-5 m-4">
				<div class="card card-body">
					<div class="text-uppercase text-primary h4 my-3">Iniciar Sesión</div>
					{% include "app/includes/flash_messages.html" %}
					<form action="" method="POST">
						{% csrf_token %}
						<input type="hidden" name="next" value="{{ request.GET.next }}">
						<div class="form-group">
							<label for="">Nombre de usuario:</label>
							<input type="text" name="username" class="form-control" autofocus required>
						</div>
						<div class="form-group">
							<label for="">Contraseña:</label>
							<input type="password" name="password" class="form-control" required>
						</div>

						<hr>
						<div class="row">
							<div class="col-md-6">
								<a href="#resetPasswordModal" data-toggle="modal" class="btn btn-link">Recuperar contraseña</a>
							</div>
							<div class="col-md-6 text-right">
								<button type="submit" id="entrarLogin" class="btn btn-primary">Entrar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<form action="{% url "usuarios:reset_password" %}" method="POST">
    		{% csrf_token %}
			<div class="modal-header">
				<h5 class="modal-title" id="resetPasswordModalLabel">Recuperar contraseña</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				{% if request.GET.error_reset_pass %}
					<div class="alert alert-danger p-2">{{ request.GET.error_reset_pass }}</div>

				{% elif request.GET.success_reset_pass %}
					<div class="alert alert-success p-2">{{ request.GET.success_reset_pass }}</div>
				{% else %}
					<div class="alert alert-info p-2">Ingrese el nombre de usuario ó el email y se enviará una liga de acceso para asignar una nueva contraseña.</div>
				{% endif %}
				<div class="form-group">
					{{ solicitar_cambio_pass_form.username.label_tag }}
					{{ solicitar_cambio_pass_form.username }}
					{{ solicitar_cambio_pass_form.username.errors }}
				</div>
				<div class="form-group">
					{{ solicitar_cambio_pass_form.email.label_tag }}
					{{ solicitar_cambio_pass_form.email }}
					{{ solicitar_cambio_pass_form.email.errors }}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				<button type="submit" class="btn btn-primary">Recuperar contraseña</button>
			</div>
    	</form>
    </div>
  </div>
</div>
{% endblock _contenido %}

{% block _js %}
{% if request.GET.error_reset_pass or request.GET.success_reset_pass %}
<script>
$(function() {
	$("#resetPasswordModal").modal()
});
</script>
{% endif %}
{% endblock _js %}