{% extends "app/base.html" %}

{% block contenido %}
<form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
	{% csrf_token %}
	{% if form.errors %}
	<div class="alert alert-danger">{{ form.errors }}</div>
	{% endif %}
	<div class="card my-2">
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						{{ form.username.label_tag }}
						{{ form.username }}
						{{ form.username.errors }}
						<a data-toggle="modal" class="my-1 d-inline-block" href="#cambiarPassModal">Cambiar Contraseña</a>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ form.first_name.label_tag }}
								{{ form.first_name }}
								{{ form.first_name.errors }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								{{ form.last_name.label_tag }}
								{{ form.last_name }}
								{{ form.last_name.errors }}
							</div>
						</div>
					</div>
					<div class="form-group">
						{{ form.email.label_tag }}
						{{ form.email }}
						{{ form.email.errors }}
					</div>
					
				</div>
				<div class="col-md-4">
					<div class="form-group">
						{{ form.zona_horaria.label_tag }}
						{{ form.zona_horaria }}
						{{ form.zona_horaria.errors }}
					</div>
					<div class="form-group">
						{{ form.tema_tamano_fuente.label_tag }}
						{{ form.tema_tamano_fuente }}
						{{ form.tema_tamano_fuente.errors }}
						<div class="text-info">El tamaño recomendado es de 17px</div>
					</div>
					<div class="form-group">
						{{ form.firma.label_tag }}
						{{ form.firma }}
						{{ form.firma.errors }}
					</div>
					<div class="form-group">
						{{ form.centro_responsabilidad.label_tag }}
						<div class="form-control" readonly>{{ form.instance.perfil.centro_responsabilidad|default:'' }}</div>
						{{ form.centro_responsabilidad.errors }}
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group">
						{{ form.suplencia.label_tag }}
						{{ form.suplencia }}
						{{ form.suplencia.errors }}
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ form.suplencia_desde.label_tag }}
								{{ form.suplencia_desde }}
								{{ form.suplencia_desde.errors }}
							</div>						
						</div>
						<div class="col-md-6">
							<div class="form-group">
								{{ form.suplencia_hasta.label_tag }}
								{{ form.suplencia_hasta }}
								{{ form.suplencia_hasta.errors }}
							</div>
						</div>
					</div>
					{% with form.instance.suplencias.all as suplencias %}
					{% if suplencias %}
						<div class="form-group">
							<label for="">Suplencias asignadas:</label>
							<div>
								{% for s in suplencias %}
								<div class="border btn d-inline-block text-primary font-weight-bold m-1">
									{{ s.usuario.get_full_name }}
								</div>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% endwith %}
				</div>
			</div>
		</div>
	</div>

	<div class="text-right">
		<button type="submit" id="btnGuardarPerfil" class="btn btn-primary">Guardar</button>
	</div>
</form>

<div id="cambiarPassModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form action="{% url "usuarios:cambiar_password" %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="back_url" value="{{ request.path }}">
				<div class="modal-header">
			        <h5 class="modal-title">Cambiar contraseña</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <div class="form-group">
			        	<label for="">Contraseña actual:</label>
			        	<input type="password" name="pass_actual" id="actual_pass" class="form-control" required>
			        </div>
			        <div class="form-group nuevo_pass">
			        	<label for="">Nueva contraseña:</label>
			        	<input type="password" name="nuevo_pass" id="nuevo_pass" class="form-control" required>
			        </div>
			        <div class="form-group re_nuevo_pass">
			        	<label for="">Confirmar nueva contraseña:</label>
			        	<input type="password" name="re_nuevo_pass" id="re_nuevo_pass" class="form-control" required>
			        </div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" id="cancelarPerfil" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			        <button type="submit" id="cambiarPerfil" class="btn btn-primary btn-guardar">Cambiar Contraseña</button>
			      </div>
			</form>
		</div>
	</div>
</div>
{% endblock contenido %}

{% block js %}
<script>
var GUARDANDO = false

function validarConfirmacionPassord() {
	var nuevo_pass = $('.nuevo_pass input').val()
	var re_nuevo_pass = $('.re_nuevo_pass input').val()

	if (nuevo_pass !== re_nuevo_pass) {
		alertify.error('Las contraseñas no coinciden.')
		$('.re_nuevo_pass input').select()
		return false
	}

	return true
}

$(function() {
	$('.re_nuevo_pass input').change(validarConfirmacionPassord)
});
</script>
{% endblock js %}