{% extends "app/clean_base.html" %}
{% load thumbnail %}
{% block _contenido %}
<!-- <div class="header"></div> -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="full-content-height bg-white" style="height:100vh;box-shadow: 3px 0px 5px rgba(0,0,0,.015);">
				<div class="text-center">
					{% if configuracion.logo %}
					<div class="my-3">
						{% thumbnail configuracion.logo "x150" format="PNG" as im %}
						<img src="{{ im.url }}"  class="img-fluid">
						{% endthumbnail %}
					</div>
					{% endif %}
					<hr style="opacity:.5">
					<h1 class="text-primary font-weight-normal">{{ configuracion.project_name|default:'' }}</h1>
					<h3 class="text-muted font-weight-normal">ABC</h3>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="p-5 m-4">
				<div class="card card-body">
					<div class="text-uppercase text-primary h4 my-3">Cambio de contraseña</div>
					{% include "app/includes/flash_messages.html" %}
					<form action="" method="POST" id="formResetPassword">
						{% csrf_token %}
						<input type="hidden" name="next" value="{{ request.GET.next }}">
						<div class="form-group">
							{{ form.new_password.label_tag }}
							{{ form.new_password }}
							{{ form.new_password.errors }}
						</div>
						<div class="form-group">
							{{ form.confirm_new_password.label_tag }}
							{{ form.confirm_new_password }}
							{{ form.confirm_new_password.errors }}
						</div>
						<hr>
						<div class="text-right">
							<button type="submit" class="btn btn-primary">Cambiar contraseña</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock _contenido %}

{% block _js %}
<script>
$(function() {
	$("#formResetPassword").submit(function(e) {
		var new_password = $(this).find("[name='new_password']").val()
		var confirm_new_password = $(this).find("[name='confirm_new_password']").val()
		if (new_password != confirm_new_password) {
			alertify.error("Las contraseñas no coinciden.")
			$(this).find("[name='new_password']").focus()
			$(this).data("hideLoading", true)
			return false
		}
	})
});
</script>
{% endblock _js %}