{% extends "app/base.html" %}
{% load custom_tags %}

{% block extra_head %}
<style>
.permiso-toggle-td input{
	visibility: hidden;
	width: 1px;
	height: 1px;
}
.permisos-roles-table th{
	line-height: 1.1;
	font-size: .9em;
	vertical-align: middle;
	padding-bottom: 0;
}
</style>
{% endblock extra_head %}

{% block contenido %}
<div class="text-right mb-2">
	<button class="btn btn-primary agregar-rol">Agregar Rol</button>
</div>
<div class="table-responsive">
	<table class="table table-primary table-sm table-hover permisos-roles-table">
		<thead>
			<tr>
				<th style="width:430px;padding-bottom:10px">Permiso</th>
				{% for rol in roles %}
				<th class="text-center" style="min-width:110px">
					{{ rol.nombre }} 
					<div>
						<a title="Seleccionar todo" href="#" class="btn btn-sm toggle-all" data-id="{{ rol.id }}">
							<i class="icon ion-md-checkbox-outline"></i>
						</a>
						<a title="Editar rol" class="btn btn-sm editar-rol" href="#" data-nombre="{{ rol.nombre }}" data-id="{{ rol.id }}">
							<i class="icon ion-md-create"></i>
						</a>
						<a data-confirm-message="¿Esta seguro que desea eliminar el rol {{ rol.nombre }}?" title="Eliminar rol" class="btn btn-sm" href="{% url "usuarios:eliminar_rol" rol.id %}">
							<i class="icon ion-md-trash"></i>
						</a>
					</div>
				</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody id="permisosBodyTable">
			{% with 20 as padding %}
			{% for node in PERMISOS_UBICACIONES %}
				{% include "usuarios/includes/permiso_nodo.html" %}
			{% endfor %}
			{% endwith %}
		</tbody>
	</table>
</div>

<div id="rolModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form action="" method="POST">
				<input type="hidden" name="agregar_url" value="{% url "usuarios:agregar_rol" %}">
				<input type="hidden" name="editar_url" value="{% url "usuarios:editar_rol" 1 %}">

				{% csrf_token %}
				<input type="hidden" name="back_url" value="{{ request.path }}">
				<div class="modal-header">
			        <h5 class="modal-title">Agregar Rol</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <div class="form-group nuevo_pass">
			        	<label for="">Nombre:</label>
			        	<input type="text" name="nombre" id="nombre_rol" class="form-control" required>
			        </div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			        <button type="submit" class="btn btn-primary btn-guardar">Guardar</button>
			      </div>
			</form>
		</div>
	</div>
</div>
{% endblock contenido %}

{% block js %}
<script>
$(function() {
	var guardarPermisoRol = function(permiso, rol, habilitado) {
		$.ajax({
			url: '{% url "usuarios:set_permiso_rol" 1 %}'.replace("1", rol),
			type:'POST',
			data: {"permiso": permiso, "habilitado": Number(habilitado)}
		}).done(function(response) {
			console.log(response)
		})
	}

	var $rolModal = $("#rolModal")
	var $rolFoModalForm = $rolModal.find('form')
	var $rolModalTitle = $rolModal.find(".modal-title")
	var $rolModalGuardar = $rolModal.find(".btn-guardar")

	var agregarRol = function(e) {
		e.preventDefault()
		$('#rolModal').modal()
		var url = $rolModal.find('[name="agregar_url"]').val()
		$rolFoModalForm.attr('action', url)
		$rolFoModalForm.find('[name="nombre"]').val("")
		$rolModalTitle.text("Agregar rol")
		$rolModalGuardar.text("Guardar")
	}

	var seleccionarTodo = function(e) {
		e.preventDefault()
		var id = $(this).data('id')
		$('button[data-rol="'+id+'"]').click()
	}

	var editarRol = function(e) {
		e.preventDefault()
		$('#rolModal').modal()
		var id = $(this).data("id")
		var nombre = $(this).data("nombre")
		var url = $rolModal.find('[name="editar_url"]').val().replace("1", id)
		$rolFoModalForm.find('[name="nombre"]').val(nombre)
		$rolFoModalForm.attr('action', url)
		$rolModalTitle.text("Editar rol")
		$rolModalGuardar.text("Editar Rol")
	}

	// al mostrarse el modal focus al input nombre
	$rolModal.on('shown.bs.modal', function (e) {
		$rolFoModalForm.find('[name="nombre"]').select()
	})

	// eventos click
	$('.agregar-rol').click(agregarRol)
	$('.editar-rol').click(editarRol)
	$('.toggle-permiso').click(function(e) {
		e.preventDefault()

		var $checkbox = $(this).siblings('input').eq(0)
		var checked = !$checkbox.is(':checked')
		var permiso = $(this).data('permiso')
		var rol = $(this).data('rol')

		$checkbox.prop('checked', checked)

		if (checked) {
			$(this)
			.removeClass('btn-gray')
			.addClass('btn-success')
			.html('<i class="icon ion-md-checkmark-circle"></i>')
		} else {
			$(this)
			.removeClass('btn-success')
			.addClass('btn-gray')
			.html('<i class="icon ion-md-close-circle"></i>')
		}

		guardarPermisoRol(permiso, rol, checked)
	})

	$('.toggle-all').click(seleccionarTodo)
});
</script>
{% endblock js %}
