{% extends "app/base.html" %}
{% load static custom_tags %}

{% block contenido %}
<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-md-9">
				<a href="{% url "usuarios:importar_usuarios" %}" class="btn btn-secondary">
					<i class="icon ion-md-cloud-upload"></i> Importar Usuarios
				</a>
				<a href="{% url 'usuarios:inicios_sesion' %}" class="btn btn-secondary">
					<i class="icon ion-md-clipboard"></i> Reporte de Accesos
				</a>
			</div>
			<div class="col-md-3 text-right">
				<a href="{% url 'usuarios:usuario' %}" class="btn btn-primary">Agregar</a>
			</div>
		</div>

		<form method="GET" action="." class="my-2">{% csrf_token %}
			<div class="align-bottom d-inline-block">
				{{ filtro_form.status.label_tag }}
				{{ filtro_form.status }}
				{{ filtro_form.status.errors }}
			</div>
			{% include "tools/filtro_form.html" %}
		</form>

		<div class="table-responsive">
			<table class="table table-primary table-condensed table-sm table-striped table-hover table-borderless table-scroll vm my-2" style="backgrou">
				<thead>
					<tr>
						<th>Nombre de usuario</th>
						<th>Nombre</th>
						<th>Apellidos</th>
						<th>Email</th>
						<th>Suplencia</th>
						<th>Activo</th>
						<th>Última sesión</th>
					</tr>
				</thead>
				<tbody>
					{% for usuario in objects %}
						<tr>
							<td>
								<a href="{% url 'usuarios:usuario' usuario.id %}">
									{{ usuario.username }}
								</a>
							</td>
							<td>
								<a href="{% url 'usuarios:usuario' usuario.id %}">
									{{ usuario.first_name }}
								</a>
							</td>
							<td>
								<a href="{% url 'usuarios:usuario' usuario.id %}">
									{{ usuario.last_name }}
								</a>
							</td>
							<td>
								<a href="{% url 'usuarios:usuario' usuario.id %}">
									{{ usuario.email }}
								</a>
							</td>
							<td>
								<a href="{% url 'usuarios:usuario' usuario.id %}">
									{{ usuario.perfil.suplencia|default:"" }}
								</a>
							</td>
							<td>
								<a href="{% url 'usuarios:usuario' usuario.id %}">
									{{ usuario.is_active|sino }}
								</a>
							</td>
							<td>
								<a href="{% url 'usuarios:usuario' usuario.id %}">
									{{ usuario.last_login|date:"d/m/Y H:i" }}
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		{% include "tools/paginado.html" %}
	</div>
</div>
{% endblock contenido %}