{% extends "app/base.html" %}

{% block extra_head %}
<style>
ul#id_roles, 
ul#id_cedis{
	list-style: none;
	padding: 0;
	margin: 2px 0;
	/*max-height: 20vh;*/
    padding-left: 15px;
    overflow: auto;
}
</style>
{% endblock extra_head %}

{% block contenido %}
<form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
	{% csrf_token %}
	<div class="card my-2">
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">
					<div class="form-check form-check-inline">
						{{ form.is_active.label_tag }}
						{{ form.is_active.errors }}
						{{ form.is_active }}
					</div>
					<hr>
					<div class="form-group">
						{{ form.username.label_tag }}
						{{ form.username }}
						{{ form.username.errors }}
						{% if form.instance.id %}
						<a data-toggle="modal" class="my-1 d-inline-block" href="#cambiarPassModal">Cambiar Contraseña</a>
						{% endif %}
					</div>

					{% if not form.instance.id %}
					<div class="form-group nuevo_pass">
						{{ form.password.label_tag }}
						{{ form.password }}
						{{ form.password.errors }}
					</div>
					<div class="form-group re_nuevo_pass">
						{{ form.re_password.label_tag }}
						{{ form.re_password }}
						{{ form.re_password.errors }}
					</div>
					{% endif %}

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ form.first_name.label_tag }}
								{{ form.first_name }}
								{{ form.first_name.errors }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								{{ form.last_name.label_tag }}
								{{ form.last_name }}
								{{ form.last_name.errors }}
							</div>
						</div>
					</div>
					<div class="form-group">
						{{ form.email.label_tag }}
						{{ form.email }}
						{{ form.email.errors }}
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ form.roles.label_tag }}
								{{ form.roles }}
								{{ form.roles.errors }}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						{{ form.zona_horaria.label_tag }}
						{{ form.zona_horaria }}
						{{ form.zona_horaria.errors }}
					</div>
					<div class="form-group">
						{{ form.tema_tamano_fuente.label_tag }}
						{{ form.tema_tamano_fuente }}
						{{ form.tema_tamano_fuente.errors }}
					</div>
					<div class="form-group">
						{{ form.firma.label_tag }}
						{{ form.firma }}
						{{ form.firma.errors }}
					</div>
					<div class="form-group">
						{{ form.suplencia.label_tag }}
						{{ form.suplencia }}
						{{ form.suplencia.errors }}
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<div class="text-right">
		{% if form.instance.id and form.instance.email %}
		<a href="{% url 'usuarios:reenviar_correo_bienvenida' form.instance.id %}" id="reenviarBienve" class="btn btn-light">Reenviar correo de bienvenida</a>
		{% endif %}
		<a href="{% url 'usuarios:usuarios' %}" id="usuarioCancel" class="btn btn-light">Cancelar</a>
		<button type="submit" id="guardarUser" class="btn btn-primary">Guardar</button>
	</div>
</form>

<div id="cambiarPassModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form action="{% url "usuarios:cambiar_password" %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="usuario_id" value="{{ form.instance.id }}">
				<input type="hidden" name="back_url" value="{{ request.path }}">
				<div class="modal-header">
			        <h5 class="modal-title">Cambiar contraseña</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <div class="form-group nuevo_pass">
			        	<label for="">Nueva contraseña:</label>
			        	<input type="password" name="nuevo_pass" id="nuevo_pass" class="form-control" required>
			        </div>
			        <div class="form-group re_nuevo_pass">
			        	<label for="">Confirmar nueva contraseña:</label>
			        	<input type="password" name="re_nuevo_pass" id="re_nuevo_pass" class="form-control" required>
			        </div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" id="cancelarContra" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			        <button type="submit" id="cambiarContra" class="btn btn-primary btn-guardar">Cambiar Contraseña</button>
			      </div>
			</form>
		</div>
	</div>
</div>
{% endblock contenido %}

{% block js %}
<script>
var GUARDANDO = false
var cedisData = {
	{% for cedis in form.fields.cedis.queryset %}
	"{{ cedis.id }}": {
		id: "{{ cedis.id }}",
		text: "{{ cedis }}",
		centros_responabilidad: [
			{% for cr in cedis.centros_responabilidad.all %}
				{
					id: "{{ cr.id }}",
					text: "{{ cr }}",
				},
			{% endfor %}
		]
	},
	{% endfor %}
};

function validarConfirmacionPassord() {
	var nuevo_pass = $('.nuevo_pass input').val()
	var re_nuevo_pass = $('.re_nuevo_pass input').val()

	if (nuevo_pass !== re_nuevo_pass) {
		alertify.error('Las contraseñas no coinciden.')
		$('.re_nuevo_pass input').select()
		return false
	}

	return true
}

function setCentrosResponsabilidadOptions() {
	var optionsCR = []
	var initialCR = $("#id_centro_responsabilidad").attr("value")
	
	$('[name="cedis"]:checked').each(function() {
		$(cedisData[$(this).val()].centros_responabilidad).each(function() {
			var opt = "<option value="+this.id+">"+this.text+"</option>"
			if (optionsCR.indexOf(opt) === -1) {
				optionsCR.push(opt)
			}
		})
	})

	$("#id_centro_responsabilidad").html(optionsCR)
	$("#id_centro_responsabilidad").val(initialCR)

}

$(function() {
	$('.re_nuevo_pass input').change(validarConfirmacionPassord)
	$('[name="cedis"]').change(setCentrosResponsabilidadOptions)
	setCentrosResponsabilidadOptions()
});
</script>
{% endblock js %}