{% extends "http_error_base.html" %}

{% block title %}
Error
{% endblock title %}

{% block contenido %}
<div class="col-md-12 text-center">
	<div class="card card-body m-4">
		<h1><i class="icon ion-md-sad-outline"></i></h1>
		<h3 class="text-danger">No es posible eliminar el registro ya que cuenta con los siguientes objetos relacionados:</h3>
		<table class="table table-primary table-sm table-striped text-left vm">
			<tbody>
				{% for o in exception.protected_objects %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ o }}</td>
						<td class="text-right">
							{% if o.get_absolute_url %}
							<a href="{{ o.get_absolute_url }}"  class="btn btn-sm"><i class="icon ion-md-search"></i></a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<hr>
		<p><a class="btn btn-primary btn-lg" href="javascript:window.history.back()" role="button">Regresar</a></p>
	</div>
</div>
{% endblock contenido %}