{% extends "http_error_base.html" %}

{% block title %}
404 Página no encontrada
{% endblock title %}

{% block contenido %}
<div class="col-md-12 text-center">
	<div class="card card-body m-4">
		<h1><i class="icon ion-md-map"></i></h1>
		<h2 class="slim">Página no encontrada</h2>
		<div class="h4">Hubo un problema al intentar resolver la ruta {{ request.path }}</div>
		<hr>
		<p><a class="btn btn-primary btn-lg" href="javascript:window.history.back()" role="button">Regresar</a></p>
	</div>
</div>
{% endblock contenido %}