{% extends "http_error_base.html" %}

{% block title %}
Error
{% endblock title %}

{% block contenido %}
<div class="col-md-12 text-center">
	<div class="card card-body m-4">
		<h1><i class="icon ion-md-sad-outline"></i></h1>
		<h2>Hubo un error al procesar su solicitud</h2>
		<div class="lead">Recomendamos reportar el problema mediante un ticket o llamada telefónica para poder corregirlo a la brevedad.</div>
		<hr>
		<p><a class="btn btn-primary btn-lg" href="javascript:window.history.back()" role="button">Regresar</a></p>
	</div>
</div>
{% endblock contenido %}