{% extends "app/clean_base.html" %}
{% load thumbnail %}

{% block _contenido %}
	<div class="text-center py-2">
		<a href="{% url 'app:index' %}" class="d-flex align-items-center justify-content-center">
            {% if configuracion.logo %}
            {% thumbnail configuracion.logo "x95" format="PNG" as im %}
                <img src="{{ im.url }}"  class="img-fluid">
            {% endthumbnail %}
            {% else %}
            <img src="https://placehold.it/120x60" class="img-fluid">
            {% endif %}
        </a>
	</div>

<div class="container">
	{% block contenido %}
	{% endblock contenido %}
</div>
{% endblock _contenido %}